<style>

    /*常用*/
    .bdd_used_boder{
        width: 1200px;
        height:500px;
        margin: 0 auto;
        margin-top:80px;
    }
    .bdd_used_boder_si{
        width: 290px;
        height:150px;
        background-color:white;
        float: left;
        margin-left:10px;
        margin-top:10px;
        border-radius: 5px;
        font-size: 16px;
        color: #cea63f;
        font-family: "微软雅黑", sans-serif;
        text-align: center;
        padding-top:62px;

    }
    /*行业链接*/
    .bdd_catenation{
        width:1200px;
        height:100px;
        margin: 0 auto;
    }
    .bdd_catention_zheng{
        width: 10px;
        height: 10px;
        background-color: #cea63f;
        float: left;
        margin-top:8px;
        margin-left:10px;

    }
    .bdd_catenation_cat{
        float: left;
        padding-left:8px;
        font-size: 18px;
        color: #4d3a3a;

    }
    /*地区*/
    .bdd_area{
        width: 100%;
        height:135px;
        background-color:white;
        margin-top:-60px;
    }
    .bdd_area_boder{
        width: 1200px;
        height: 150px;
        margin: 0 auto;

    }
    .bdd_area_boder_text{
        float: left;
    }
    .bdd_area_boder_left{
        float: left;
        width: 1000px;
        height:60px;

    }
    .bdd_area_boder_right{
        float:right;
        width:198px;
        height: 150px;
        margin-top: 33px;

    }
    .bdd_pic{
        background: url("../../../vendor/images/nav_icon_arrow_down.png");
        width: 20px;
        height: 20px;
        float: left;
        margin-top:47px;
        background-color: #cea63f;
    }
    .bdd_area_boder_text {
        font-size: 16px;
    }
    .bdd_area_boder_text{
        padding-left:50px;
        margin-top:10px;
    }
    .bdd_area_boder_span{
        font-size: 16px;
        font-weight: 700;
        margin-top:30px;
        float: left;
        padding-left:10px;
    }
    .bdd_area_aode{
        width: 900px;
        height:80px;
        float: left;
        margin-top:30px;
    }
    /*下面列表*/
    .bdd_area_conter{
        width: 100%;
        margin-bottom:140px;
        overflow: hidden;


    }
    .bdd_area_conter_border{
        width: 1200px;
        height: 1000px;
        margin: 0px auto;



    }
    .bdd_area_conter_border_text{
        width: 290px;
        height: 110px;
        background-color: white;
        float: left;
        margin: 0px 10px 10px 0px;
        border-radius: 5px;
        font-size: 16px;
        color: #4d3a3a;
        text-align: center;
        padding-top:35px;

    }
    .bdd_area_list{
        padding-top:45px;
    }


</style>



<!--常用-->
<div class="bdd_used_boder">
    <div class="bdd_used_boder_si" ng-repeat="commonLink in ctrl.commonLinkList">
        <a href="{{commonLink.customUrl}}">{{commonLink.customName}}</a>
    </div>
    <!--<div class="bdd_used_boder_si">评标计算</div>-->
</div>
<!--行业链接-->
<div class="bdd_catenation"><div class="bdd_catention_zheng"></div><div class="bdd_catenation_cat">行业链接</div></div>
<div class="bdd_area">
    <div class="bdd_area_boder">
        <div class="bdd_area_boder_left">
            <div class="bdd_area_boder_span">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区:</div>
            <div class="bdd_area_aode">
                <a class="bdd_comp_span_all span-cursor span-yellow" ng-click="ctrl.allArea()">全部</a>
                <div class="bdd_comp_span" ng-repeat="area in ctrl.areaList" ng-bind="area.name|limitTo:2" ng-click="ctrl.clickProvince(area)">
                </div>
                <div id="more-pro" class="bdd_dev_area_pro_m" ng-show="ctrl.morePro" >
                    <div class="bdd_comp_span bdd_dev_area_pro_t" ng-repeat="area in ctrl.areaList2">
                        <a class="span-cursor" ng-bind="area.name|limitTo:2"
                           ng-click="ctrl.clickProvince(area)"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="bdd_dev_city" class="bdd_dev_city" ng-show="ctrl.isCity">
            <div class="bdd_comp_span_c" ng-if="city"><a class="span-yellow span-cursor">全部</a>
            </div>
            <div class="bdd_comp_span_c" ng-repeat="city in ctrl.cityList" ng-if="city">
                <a class="span-cursor" ng-bind="city" ng-click="ctrl.clickCity(city)"></a>
            </div>
        </div>
        <div class="bdd_area_boder_right">
            <a class="span-cursor" id="to-pro-more"
               ng-click="ctrl.moreProvince(ctrl.morePro)">
                <div class="to_more" ng-show="!ctrl.morePro">更多</div>
                <div class="to_more to_bottom" ng-show="!ctrl.morePro"></div>
                <div class="to_more" ng-show="ctrl.morePro">收起</div>
                <div class="to_more to_top" ng-show="ctrl.morePro"></div>
            </a>
        </div>
    </div>
</div>
<div class="bdd_area_conter">
    <div class="bdd_area_conter_border">
            <a href="{{link.linkUrl}}"class="bdd_area_conter_border_text bdd_area_list" ng-repeat="link in ctrl.linkList">
                {{link.linkName}}
            </a>
    </div>
</div>