<style>

    /*常用*/
    .bdd_used_boder{
        width: 1200px;
        height:500px;
        margin: 0 auto;
        margin-top:80px;
    }
    .bdd_used_boder_si{
        width: 290px;
        height:150px;
        background-color:white;
        float: left;
        margin-left:10px;
        margin-top:10px;
        border-radius: 5px;
        font-size: 16px;
        color: #cea63f;
        font-family: "微软雅黑", sans-serif;
        text-align: center;
        padding-top:62px;

    }
    /*行业链接*/
    .bdd_catenation{
        width:1200px;
        height:100px;
        margin: 0 auto;
    }
    .bdd_catention_zheng{
        width: 10px;
        height: 10px;
        background-color: #cea63f;
        float: left;
        margin-top:8px;
        margin-left:10px;

    }
    .bdd_catenation_cat{
        float: left;
        padding-left:8px;
        font-size: 18px;
        color: #4d3a3a;

    }
    /*地区*/
    .bdd_area{
        width: 100%;
        height:135px;
        background-color:white;
        margin-top:-60px;
    }
    .bdd_area_boder{
        width: 1200px;
        height: 150px;
        margin: 0 auto;

    }
    .bdd_area_boder_text{
        float: left;
    }
    .bdd_area_boder_left{
        float: left;
        width: 1000px;
        height:60px;

    }
    .bdd_area_boder_right{
        float:right;
        width:198px;
        height: 150px;

    }
    .bdd_pic{
        background: url("../../../vendor/images/nav_icon_arrow_down.png");
        width: 20px;
        height: 20px;
        float: left;
        margin-top:47px;
        background-color: #cea63f;
    }
    .bdd_area_boder_text {
        font-size: 16px;
    }
    .bdd_area_boder_text{
        padding-left:50px;
        margin-top:10px;
    }
    .bdd_area_boder_span{
        font-size: 16px;
        font-weight: 700;
        margin-top:40px;
        float: left;
        padding-left:10px;
    }
    .bdd_area_aode{
        width: 900px;
        height:80px;
        float: left;
        margin-top:30px;
    }
    /*下面列表*/
    .bdd_area_conter{
        width: 100%;
        margin-bottom:140px;
        overflow: hidden;


    }
    .bdd_area_conter_border{
        width: 1200px;
        height: 1000px;
        margin: 0px auto;



    }
    .bdd_area_conter_border_text{
        width: 290px;
        height: 110px;
        background-color: white;
        float: left;
        margin: 0px 10px 10px 0px;
        border-radius: 5px;
        font-size: 16px;
        color: #4d3a3a;
        text-align: center;
        padding-top:35px;

    }
    .bdd_area_list{
        padding-top:45px;
    }


</style>

<!--头部-->
<nav class="bdd-nav">
    <div class="bdd-nav-div">
        <div class="bdd-img-div">
            <div class="bdd-img-one"><img class="bdd-img" src="../../../vendor/images/logo.png" alt=""/></div>
        </div>
        <div class="bdd-nav-title"><a ui-sref="home">首页</a></div>
        <div class="bdd-nav-title"><a  ui-sref="Tender">标讯</a></div>
        <div class="bdd-nav-title"><a ui-sref="CompanyTop">企信</a></div>
        <div class="bdd-nav-title"><a  ui-sref="workmore">动态</a></div>
        <div class="bdd-nav-title"><a style="color:white" ui-sref="Usercenter">应用</a></div>
        <div class="bdd-nav-title bdd-nav-title-hide"><div class="search-status">
            <div class="search-filter">
                <a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
                <ul class="options">
                    <li><a href="javascript:;" data-rel="project">作品</a></li>
                    <li><a href="javascript:;" data-rel="experience">文章</a></li>
                    <li><a href="javascript:;" data-rel="source">源文件</a></li>
                    <li><a href="javascript:;" data-rel="designer">设计师</a></li>
                    <li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
                    <li><a href="javascript:;" data-rel="talk">话题</a></li>
                    <li><a href="javascript:;" data-rel="activity">活动</a></li>
                    <li><a href="javascript:;" data-rel="veer">素材</a></li>
                </ul>
            </div>
            <div class="search-select">
                <input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value="" name="keywords" id="keywords">
                <ul class="options" style="display: none;">
                    <li><a href="javascript:;">app</a></li><li><a href="javascript:;">logo</a></li><li><a href="javascript:;">icon</a></li><li><a href="javascript:;">AE</a></li><li><a href="javascript:;">作品集</a></li>								</ul>
            </div>
        </div>
            <input type="hidden" name="type" value="project" id="sType"></div>
        <div class="bdd-nav-title bdd-nav-search"><a href="#"><img src="../../../vendor/images/nav_icon_search.png" alt=""></a></div>
        <div class="bdd-nav-title bdd-nav-right">APP下载</div>
        <div class="bdd-nav-title bdd-nav-right">登录/注册</div>
    </div>
</nav>
</div>
</div>
<!--常用-->
<div class="bdd_used_boder">
    <div class="bdd_used_boder_si">四库一平台</div>
    <div class="bdd_used_boder_si">湖南四库一平台</div>
    <div class="bdd_used_boder_si">鲁班建业通</div>
    <div style="background-color: #cea63f;color: white" class="bdd_used_boder_si">组建部企业资质查询</div>
    <div class="bdd_used_boder_si">岗位考试证书查询</div>
    <div class="bdd_used_boder_si">评标计算</div>
</div>
<!--行业链接-->
<div class="bdd_catenation"><div class="bdd_catention_zheng"></div><div class="bdd_catenation_cat">行业链接</div></div>
<div class="bdd_area">
    <div class="bdd_area_boder">
        <div class="bdd_area_boder_left">
            <div class="bdd_area_boder_span">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区:</div>
            <div class="bdd_area_aode">
                <a class="bdd_comp_span_all span-cursor span-yellow" ng-click="ctrl.cancelArea()">全部</a>
                <div class="bdd_comp_span" ng-repeat="area in ctrl.areaList" ng-bind="area.name|limitTo:2" ng-click="ctrl.clickProvince(area)">
                </div>
                <div id="more-pro" class="bdd_dev_area_pro_m" ng-show="ctrl.morePro" >
                    <div class="bdd_comp_span bdd_dev_area_pro_t" ng-repeat="area in ctrl.areaList2">
                        <a class="span-cursor" ng-bind="area.name|limitTo:2"
                           ng-click="ctrl.clickProvince(area)"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="bdd_dev_city" class="bdd_dev_city" ng-show="ctrl.isCity">
            <div class="bdd_comp_span_c" ng-if="city"><a class="span-yellow span-cursor">全部</a>
            </div>
            <div class="bdd_comp_span_c" ng-repeat="city in ctrl.cityList" ng-if="city">
                <a class="span-cursor" ng-bind="city" ng-click="ctrl.clickCity(city)"></a>
            </div>
        </div>
        <div class="bdd_area_boder_right">
            <a class="span-cursor" id="to-pro-more"
               ng-click="ctrl.moreProvince(ctrl.morePro)">
                <div class="to_more" ng-show="!ctrl.morePro">更多</div>
                <div class="to_more to_bottom" ng-show="!ctrl.morePro"></div>
                <div class="to_more" ng-show="ctrl.morePro">收起</div>
                <div class="to_more to_top" ng-show="ctrl.morePro"></div>
            </a>
        </div>
    </div>
</div>
<div class="bdd_area_conter">
    <div class="bdd_area_conter_border">
            <a href="{{link.linkUrl}}"class="bdd_area_conter_border_text bdd_area_list" ng-repeat="link in ctrl.linkList">
                {{link.linkName}}
            </a>
    </div>
</div>

<div class="bdd_footer_left">
    <div class="bdd_footer_news">
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo" src="../../../vendor/images/logo.png" alt=""/></a></div>
        <div class="bdd_footer_content  bdd_footer_side"><a href="#">关于我们</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">加入我们</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">商务合作</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">新手指南</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">网站声明</a></div>
        <div class="bdd_footer_content bdd_footer_aido"><a href="#"><img class="bdd_footer_logo" src="../../../vendor/images/bottom_icon_andriod.png" alt=""/></a></div>
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo"  src="../../../vendor/images/bottom_icon_ios.png" alt=""/></a></div>
        <div class="bdd_footer_content"><a href="#"><img  class="bdd_footer_logo" src="../../../vendor/images/bottom_icon_wechat.png" alt=""/></a></div>
    </div>
</div>