<link rel="stylesheet" href="../../../vendor/normalize.css/calendar.css"/>
<link rel="stylesheet" href="../../../vendor/normalize.css/base.css">
<link rel="stylesheet" href="../../../vendor/normalize.css/bdd_login.css">
<link rel="stylesheet" href="../../../vendor/normalize.css/bdd-home.css">

<div class="bdd_login_content">
    <div class="bdd_login_banner">
        <div class="bdd_login_banner_left">
            <div class="bdd_login_banner_header">
                <div class="bdd_logoin_banner_border">
                    <div class="bdd_logoin_banner_bor_l"><a href="index.html#/login">登录</a></div>
                    <div class="bdd_logoin_banner_bor_r"><a href="index.html#/register">注册</a></div>
                </div>
                <form name="loginForm" novalidate ng-submit="ctrl.login(loginForm.$valid)">
                    <div class="bdd_logoin_banner_conter">
                        <div class="form-group">
                            <input class="bdd_logoin_placeholder" name="userphone" ng-model="ctrl.userphone" type="text"
                                   placeholder="手机号码" required ng-pattern="ctrl.mobileRegx"/>
                            <span class="error" ng-show="loginForm.$submitted && loginForm.userphone.$error.required">*手机号不能为空</span>
                            <span class="error" ng-show="loginForm.$submitted && loginForm.userphone.$error.pattern">*手机号不合法</span>
                        </div>
                        <div class="bdd_logoin_hr"></div>
                        <div class="form-group">
                            <input style="margin-top:34px;color: #ccbebe" class="bdd_logoin_placeholder" name="userpass"
                                   ng-model="ctrl.userpass" type="password"
                                   placeholder="密码" required ng-pattern="ctrl.pwdRegx"/>
                            <span class="error" ng-show="loginForm.$submitted && loginForm.userpass.$error.required">*密码不能为空</span>
                            <span class="error" ng-show="loginForm.$submitted && loginForm.userpass.$error.pattern">*密码不合法</span>
                        </div>
                        <div style="background-color: #ccbebe" class="bdd_logoin_hr"></div>
                        <div class="bdd_logoin_mi">
                            <div class="bdd_logoin_mi_l">
                                <input type="checkbox" ng-click="ctrl.checked($event)">记住我
                                <div class="bdd_logoin_mi_r"><a href="index.html#/forget">忘记密码</a></div>
                            </div>
                            <input class="bdd_login_buttom" type="submit" value="登录"/>
                            <div class="bdd_login_pic">
                                <!--<div class="bdd_login_pic_left">其他账号登录</div>-->
                                <!--<div class="bdd_login_pic_right">-->
                                    <!--<a href="index.html#/wxLogin"><img-->
                                            <!--src="../../../vendor/images/login_icon_wechat.png"-->
                                            <!--alt=""></a>-->
                                    <!--<img style="margin-left: 20px;" src="../../../vendor/images/login_icon_qq.png"-->
                                         <!--alt="">-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bdd_login_banner_right">
            <div class="bdd_login_banner_right_conter">
                <div class="bdd_login_banner_right_text">大数据时代的精益求精</div>
                <div style="margin-top: 10px;" class="bdd_login_banner_right_text">让您与数据随心沟通</div>
                <div class="bdd_login_banner_logo">
                    <div class="bdd_login_banner_logo_text"><img src="../../../vendor/images/login_logo.png" alt="">
                    </div>
                    <div class="bdd_login_banner_logo_text_br"></div>
                    <div class="bdd_login_banner_logo_text_span">
                        <div class="bdd_login_banner_logo_list">专注-建筑工程</div>
                        <div style="margin-top:-2px;" class="bdd_login_banner_logo_li">招投标信息服务平台</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>