<div class="bdd_vitality_right_header">
    <div class="bdd_vitality_right_hrader_li bdd_vita_right" ng-click="ctrl.getMessage(0)">系统消息
        <div class="bdd_vita_span" ng-if="ctrl.isSystem==0"></div>
    </div>
    <div class="bdd_vitality_right_hrader_li bdd_vita_top" ng-click="ctrl.getMessage(1)">服务消息
        <div class="bdd_vita_span" ng-if="ctrl.isSystem==1"></div>
    </div>
</div>
<div class="bdd_vitality_vita_br"></div>
<div class="bdd_qinximessage_border">
    <div class="bdd_qinximessage_boder_news" ng-repeat="info in ctrl.messageList">
        <div style="margin-top: 40px" class="bdd_qinximessage_text_side">
            <div class="bdd_qinximessage_text"><span ng-bind="info.title"></span></div>
            <div class="bdd_qinximessage_data"><span ng-bind="info.createdate"></span></div>
        </div>
        <div class="bdd_qinximessage_tet"><span ng-bind="info.message"></span></div>
        <div class="bdd_qinximessage_br"></div>
    </div>
</div>