<!--头部-->
<nav class="bdd-nav">
    <div class="bdd-nav-div">
        <div class="bdd-img-div">
            <div class="bdd-img-one"><img class="bdd-img" src="../../../vendor/images/logo.png" alt=""/></div>
        </div>
        <div class="bdd-nav-title"><a ui-sref="home">首页</a></div>
        <div class="bdd-nav-title"><a ui-sref="Tender">标讯</a></div>
        <div class="bdd-nav-title"><a style="color:white" ui-sref="CompanyTop">企信</a></div>
        <div class="bdd-nav-title"><a ui-sref="workmore">动态</a></div>
        <div class="bdd-nav-title"><a ui-sref="Usercenter">应用</a></div>
        <div class="bdd-nav-title bdd-nav-title-hide">
            <div class="search-status">
                <div class="search-filter">
                    <a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
                    <ul class="options">
                        <li><a href="javascript:;" data-rel="project">作品</a></li>
                        <li><a href="javascript:;" data-rel="experience">文章</a></li>
                        <li><a href="javascript:;" data-rel="source">源文件</a></li>
                        <li><a href="javascript:;" data-rel="designer">设计师</a></li>
                        <li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
                        <li><a href="javascript:;" data-rel="talk">话题</a></li>
                        <li><a href="javascript:;" data-rel="activity">活动</a></li>
                        <li><a href="javascript:;" data-rel="veer">素材</a></li>
                    </ul>
                </div>
                <div class="search-select">
                    <input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value=""
                           name="keywords" id="keywords">
                    <ul class="options" style="display: none;">
                        <li><a href="javascript:;">app</a></li>
                        <li><a href="javascript:;">logo</a></li>
                        <li><a href="javascript:;">icon</a></li>
                        <li><a href="javascript:;">AE</a></li>
                        <li><a href="javascript:;">作品集</a></li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="type" value="project" id="sType"></div>
        <div class="bdd-nav-title bdd-nav-search"><a href="#"><img src="../../../vendor/images/nav_icon_search.png"
                                                                   alt=""></a></div>
        <div class="bdd-nav-title bdd-nav-right">APP下载</div>
        <div class="bdd-nav-title bdd-nav-right">
            <div ng-if="ctrl.user == null">
                <a href="index.html#/login">登录</a>
                <a href="index.html#/register">注册</a>
            </div>
            <div ng-if="ctrl.user != null && ctrl.user.username != ''">
                <label>{{ctrl.user.username}}</label>
                <span class="bdd_font_span" ng-click="ctrl.logout()">退出</span>
                <a href="#/ucenter">个人中心</a>
            </div>
        </div>
    </div>
</nav>
</div>
</div>


<!--资质证书框-->
<div class="bdd_book_content">
    <div class="bdd_book_border">
        <div class="bdd_apt_tittle_zizhi">资质要求：</div>
        <div style="margin-top: 20px;" class="bdd_dev_area bdd_dev_area_pro">
            <a class="bdd_comp_span_all span-cursor span-yellow" ng-click="ctrl.cancelCategory()">全部</a>
            <div class="bdd_per_span" ng-repeat="book in ctrl.bookList">
                <a class="span-cursor" ng-bind="book.category|limitTo:15"
                   ng-click="ctrl.clickBook(book)"></a>
            </div>
            <div style="margin-left: 45px" class="dropdown  dropdown-div dropdown-div-more">
                <a id="more_select_zz" role="button" data-toggle="dropdown"
                   class="btn btn-white btn-white-a" data-target="#"
                   href="javascript:;" ng-click="ctrl.moreSelectZs(ctrl.moreZs)">
                    <div class="to_more" ng-show="!ctrl.moreZs">更多</div>
                    <div class="to_more to_bottom" ng-show="!ctrl.moreZs"></div>
                    <div class="to_more" ng-show="ctrl.moreZs">收起</div>
                    <div class="to_more to_top" ng-show="ctrl.moreZs"></div>
                </a>
            </div>
        </div>

        <div id="more-pro" class="bdd_dev_per_pro_m" ng-show="ctrl.moreZs">
            <div class="bdd_per_span" ng-repeat="book in ctrl.bookList2">
                <a class="span-cursor" ng-bind="book.category|limitTo:15"
                   ng-click="ctrl.clickBook(book)"></a>
            </div>
        </div>
        <div class="bdd_side_left_did">
            <div class="bdd_side_conter_do">
                <div class="bdd_per_left">
                    <!--综合排序-->
                    <div style="margin-bottom: 1px;" class="bdd_side_news_val">
                        <div class="bdd_side_rihgt">综合排序</div>
                        <div class="bdd_side_rihgt_r">共找到<span
                                style="color: #cea63f"><span ng-bind="ctrl.personSize"></span></span>个人员信息
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--已筛选条件-->
<div class="bdd_screening_content">


    <!-- 内容 -->
    <div class="bdd_per_content" id="bdd_adver_header" infinite-scroll='ctrl.nextPage()'
         infinite-scroll-disabled='ctrl.busy' infinite-scroll-distance='1'>
        <div ng-class="$index%2==0?'bdd_per_content_left':'bdd_per_content_right'"
             ng-repeat="person in ctrl.personList">
            <div class="bdd_per_content_left_news"><span ng-bind="person.name"></span></div>
            <div class="bdd_per_content_left_data"><span ng-bind="person.certDate"></span></div>
            <div class="bdd_per_border">
                <div class="bdd_per_content_text">注册类别：<span ng-bind="person.category"></span></div>
                <div class="bdd_per_content_text">专业：<span ng-bind="person.major"></span></div>
            </div>
        </div>
    </div>

</div>
