<script src="../vendor/My97DatePicker/WdatePicker.js"></script>
<style type="text/css">
    @import url("../../../vendor/normalize.css/bdd_scerrn.css");
</style>

<style>

    .bdd_adver_header {
        overflow: hidden;
    }

    .bdd_company_body {
        margin-top: 180px;
    }

    .text-inline {
        display: inline-block;
        color: #666;
        font-size: 14px;
        margin-left: 10px;
        letter-spacing: 1px;

    }

    .text-inline-first {
        margin-left: 78px;
    }

    .bdd-pb-more {
        cursor: default;
    }

    .text-inline-second {
        margin-top: 20px;
        padding-left: 38px;
    }

    .bdd_un_active {
        border-bottom: 2px solid #cea63f;
    }

    .bdd_announcement_mess {
        padding-left: 20px;
        margin-left: 100px;

    }

    .bdd_announcement_left {
        cursor: default;
    }

    .bdd_announcement {
        background: #ffffff;
    }

    .text-inline-more {
        border-bottom: 1px solid #ccc;
    }

    .text-inline-more {
        padding: 1px 2px;
        border: 1px solid #ccc;

    }

    .span-cursor-a {
        width: 200px;
        text-align: left;
    }

    .bdd-pb-more-c {
        width: 980px;
        padding-left: 22px;
    }

    .bdd_content_h {
        margin-top: 10px;
    }

    .bdd_content_k {
        margin-top: 0px;
    }

    .bdd_text_vib_a {
        margin-top: 10px;
    }

    .bdd_content-inline {
        display: inline-block;
        width: 1020px;
    }

    .bdd_tender_inline {
        display: inline-block;
    }

    .dropdown-div-border {
        margin-left: 5px;
    }

    .dropdown-div-more {
        margin-left: 20px;
    }

    .bdd_tender_a {
        width: 1060px;
    }

    .bdd_comp_span_m {
        margin-left: 0px;
    }

    .bdd_dev_area_pro_a {
        width: 1120px;
    }

</style>



<!--公告-->
<div style="width:100%;text-align:center;position: fixed;margin: 100px auto;z-index: 1001" class="bdd_announcement">
    <div class="bdd_announcement_left"
         ng-click="$ctrl.queryList(0)">招标公告
        <div class="bdd_vita_span_a" ng-if="$ctrl.type==0"></div>
    </div>

    <div class="bdd_announcement_left"
         ng-click="$ctrl.queryList(2)">中标公告
        <div class="bdd_vita_span_a" ng-if="$ctrl.type==2"></div>
    </div>
    <!--<div class="bdd_announcement_left" ng-click="chageData(2)">我的定制</div>-->
</div>


<!--筛选框-->
<div class="bdd_company_body">
    <div class="bg-color">
        <div class="bg-color-c">
            <div style="padding-top: 100px" class="bdd_comp_f">
                <div class="bdd_dev_area bdd_dev_area_txt">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区:</div>
                <div class="bdd_dev_area bdd_dev_area_pro bdd_dev_area_pro_a">
                    <div class="bdd_tender_inline bdd_tender_a">
                        <a class="bdd_comp_span_all span-cursor span-yellow" ng-click="$ctrl.cancelArea()">全部</a>

                        <div class="bdd_comp_span" ng-repeat="area in $ctrl.areaList">
                            <a class="span-cursor" ng-bind="area.name|limitTo:2"
                               ng-click="$ctrl.clickProvince(area)"></a>
                        </div>
                    </div>
                    <div class="bdd_comp_span bdd_comp_span_m">
                        <a class="span-cursor" id="to-pro-more"
                           ng-click="$ctrl.moreProvince($ctrl.morePro)">
                            <div class="to_more" ng-show="!$ctrl.morePro">更多</div>
                            <div class="to_more to_bottom" ng-show="!$ctrl.morePro"></div>
                            <div class="to_more" ng-show="$ctrl.morePro">收起</div>
                            <div class="to_more to_top" ng-show="$ctrl.morePro"></div>
                        </a>
                    </div>
                </div>
                <div id="more-pro" class="bdd_dev_area_pro_m" ng-show="$ctrl.morePro">
                    <div class="bdd_comp_span bdd_dev_area_pro_t" ng-repeat="area in $ctrl.areaList2">
                        <a class="span-cursor" ng-bind="area.name|limitTo:2"
                           ng-click="$ctrl.clickProvince(area)"></a>
                    </div>

                </div>
                <div id="bdd_dev_city" class="bdd_dev_city" ng-show="$ctrl.isCity">
                    <div class="bdd_comp_span_c"><a class="span-yellow span-cursor">全部</a>
                    </div>
                    <div class="bdd_comp_span_c" ng-repeat="city in $ctrl.cityList" ng-if="city">
                        <a class="span-cursor" ng-click="$ctrl.clickCity(city)" ng-bind="city"></a>
                    </div>
                </div>
            </div>
            <div class="bdd_area_header_select_line"></div>

            <div class="bdd_area_left">
                <div class="bdd_dev_area bdd_dev_area_txt">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类:</div>
                <div class="bdd_dev_area bdd_dev_area_pro">
                    <a class="bdd_comp_span_all span-cursor span-yellow" ng-click="$ctrl.cancelProjectType();">不限</a>

                    <div class="bdd_comp_span">
                        <a class="span-cursor" ng-click="$ctrl.choiceProjectType('0');">施工</a>
                    </div>
                    <div class="bdd_comp_span">
                        <a class="span-cursor" ng-click="$ctrl.choiceProjectType('2');">监理</a>
                    </div>
                    <div class="bdd_comp_span">
                        <a class="span-cursor" ng-click="$ctrl.choiceProjectType('3');">采购</a>
                    </div>
                    <div class="bdd_comp_span">
                        <a class="span-cursor" ng-click="$ctrl.choiceProjectType('1');">设计</a>
                    </div>
                    <div class="bdd_comp_span">
                        <a class="span-cursor" ng-click="$ctrl.choiceProjectType('4');">勘察</a>
                    </div>
                </div>
                <div class="bdd_area_left">
                    <div class="bdd_content_h">评标办法:</div>
                    <div class="bdd-pb-more-c text-inline">
                        <div class="text-inline" ng-repeat="mode in $ctrl.pbModeList">
                            <input id="{{mode.standardName}}" name="pb" type="checkbox"
                                   ng-checked="$ctrl.updateChecked('{{mode.standardName}}');"
                                   ng-change="$ctrl.pbModeChange('{{mode.standardName}}');" ng-model="$ctrl.pb[$index]"
                                   ng-true-value="'{{mode.standardName}}'" ng-false-value="null"/>
                            {{mode.standardName}}
                        </div>
                    </div>

                    <!--<div class="text-inline">-->
                    <!--<div class="text-inline bdd-pb-more-a"><a class="bdd-pb-more"-->
                    <!--ng-click="$ctrl.showMore($ctrl.isShowMore)">{{$ctrl.isShowMore?'收起':'更多'}}</a>-->
                    <!--<div class="text-inline-a to_more {{$ctrl.isShowMore?'to_top':'to_bottom'}}"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="text-inline-second bdd-pb-more-d" ng-show="$ctrl.isShowMore">-->
                    <!--<div class="text-inline-first text-inline"><input type="checkbox" name="a11" value="10"/>-->
                    <!--合理低价法10-->
                    <!--</div>-->

                    <!--</div>-->

                </div>
                <!--筛选框-->
                <div class="bdd_area_li bdd_letter_li_ti">
                    <div class="bdd_area_header_select_li">
                        <div class="bdd_area_left">
                            <div class="bdd_content_h">资质要求：</div>
                            <div class="bdd_content_n bdd_content-inline">
                                <div class="bdd_tender_inline bdd_content_m span-yellow" ng-click="$ctrl.cancelQUal()">
                                    全部
                                </div>
                                <div class="bdd_tender_inline dropdown dropdown-div dropdown-div-border"
                                     ng-repeat="qual in $ctrl.companyQualList">
                                    <a role="button" data-toggle="dropdown" class="btn btn-white btn-white-a"
                                       data-target="#"
                                       href="javascript:;"><span
                                            ng-click="$ctrl.clickQual1(qual)">{{qual.name}}</span> <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level bdd_drop_scroll" role="menu"
                                        aria-labelledby="dropdownMenu">
                                        <li class="dropdown-submenu dropdown-yellow-li" ng-repeat="qual2 in qual.list">
                                            <a class="dropdown-yellow" href="javascript:;" data-index="2"
                                               ng-bind="qual2.name"
                                               ng-mouseenter="$ctrl.touchStart($event,qual2,qual)"
                                               ng-click="$ctrl.clickQual2(qual2,qual)"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="dropdown  dropdown-div dropdown-div-more">
                                <a id="more_select_zz" role="button" data-toggle="dropdown"
                                   class="btn btn-white btn-white-a" data-target="#"
                                   href="javascript:;" ng-click="$ctrl.moreSelectZz($ctrl.moreZz)">
                                    <div class="to_more" ng-show="!$ctrl.moreZz">更多</div>
                                    <div class="to_more to_bottom" ng-show="!$ctrl.moreZz"></div>
                                    <div class="to_more" ng-show="$ctrl.moreZz">收起</div>
                                    <div class="to_more to_top" ng-show="$ctrl.moreZz"></div>
                                </a>

                            </div>

                        </div>
                        <div id="more-select-zz" class="drop-margin" ng-show="$ctrl.moreZz">
                            <div class="dropdown dropdown-div dropdown-div-border dropdown-div-border2"
                                 ng-repeat="qual in $ctrl.companyQualList2">
                                <a role="button" data-toggle="dropdown" class="btn btn-white btn-white-a"
                                   data-target="#"
                                   href="javascript:;"><span
                                        ng-click="$ctrl.clickQual1(qual)">{{qual.name}}</span> <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu  multi-level bdd_drop_scroll" role="menu"
                                    aria-labelledby="dropdownMenu">
                                    <li class="dropdown-submenu dropdown-yellow-li" ng-repeat="qual2 in qual.list">
                                        <a href="javascript:;" data-index="2" ng-bind="qual2.name"
                                           ng-mouseenter="$ctrl.touchStart($event,qual2,qual)"
                                           ng-click="$ctrl.clickQual2($event,qual2,qual)"></a>

                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="bdd_area_header_select_li">
                    <div class="bdd_area_header_select_line2"></div>
                    <div class="bdd_area_left">
                        <div class="bdd_area_content bdd_content_h">项目金额：</div>
                        <div class="bdd_area_content bdd_content_q"><input class="bdd_select  bdd_font"
                                                                           placeholder="最低金额（万）"
                                                                           type="text" style="width: 150px;"
                                                                           ng-model="$ctrl.projSumStart"><span
                                style="color:#ccc">&nbsp;&nbsp;&nbsp;&nbsp;—</span>
                        </div>
                        <div class="bdd_area_content bdd_text_vib"><input class="bdd_select bdd_font"
                                                                          placeholder="最高金额（万）"
                                                                          type="text" style="width: 150px;"
                                                                          ng-model="$ctrl.projSumEnd"></div>
                        <div class="bdd_area_content bdd_text_vib"><input class="bdd_button_val" type="button"
                                                                          value="确认"
                                                                          ng-click="$ctrl.clickProjSum()">&nbsp;<span
                                class="bdd_font_span" ng-click="$ctrl.canclePrice()">&nbsp;&nbsp;&nbsp;&nbsp;清空</span>
                        </div>
                    </div>

                    <div class="bdd_area_left bdd_area_left_pad">
                        <div class="bdd_area_content bdd_text_vib span-cursor" ng-click="$ctrl.clickProjSum(0,200)">
                            0-200万
                        </div>
                        <div class="bdd_area_content bdd_text_vib bdd_text_vib_mid span-cursor"
                             ng-click="$ctrl.clickProjSum(200,500)">200-500万
                        </div>
                        <div class="bdd_area_content bdd_text_vib span-cursor" ng-click="$ctrl.clickProjSum(500,1000)">
                            500-1000万
                        </div>
                    </div>
                </div>


                <div class="bdd_area_header_select_li">
                    <div class="bdd_area_header_select_line2"></div>
                    <div class="bdd_area_left">
                        <div class="bdd_area_content bdd_content_h bdd_content_k">开标时间：</div>
                        <div class="bdd_area_content bdd_content_q">
                            <input id="startDate" class="bdd_select  bdd_font placeholder Wdate" placeholder="起始时间"
                                   type="text" style="width: 150px;"
                                   ng-model="$ctrl.kbDateStart">
                            <!--onclick="WdatePicker({skin:'twoer',readOnly:true,dateFmt:'yyyy-MM-dd',minDate:'{%y-1}-%M-%d',maxDate:'#F{$dp.$D(\'endDate\')||\'2020-10-01\'}'})"-->
                            <span style="color:#ccc">&nbsp;&nbsp;&nbsp;&nbsp;—</span>
                        </div>
                        <div class="bdd_area_content bdd_text_vib">
                            <input id="endDate" class="bdd_select bdd_font placeholder Wdate" placeholder="结束时间"
                                   type="text" style="width: 150px;"
                                   ng-model="$ctrl.kbDateEnd" name="kbDateEnd">
                            <!--onclick="WdatePicker({skin:'twoer',dateFmt:'yyyy-MM-dd',maxDate:'2020-10-01',minDate:'#F{$dp.$D(\'startDate\')}'})"-->
                        </div>
                        <div class="bdd_area_content bdd_text_vib">
                            <input class="bdd_button_val" type="button" value="确认" ng-click="$ctrl.clickKbDate()">&nbsp;<span
                                class="bdd_font_span" ng-click="$ctrl.cancelKbDate()">&nbsp;&nbsp;&nbsp;&nbsp;清空</span>
                        </div>
                    </div>
                </div>


                <div class="bdd_side_left_did">
                    <div class="bdd_side_conter_do">
                        <div class="bdd_area_left">
                            <div class="bdd_area_content bdd_content_h bdd_content_t">已筛选条件：</div>

                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.projectType">
                                <div class="bdd_select bdd_font  bdd_font_color">
                                    {{$ctrl.projectTypeDesc}}&nbsp;&nbsp;&nbsp;&nbsp;<span
                                        ng-click="$ctrl.cancelProjectType()">×</span></div>
                            </div>

                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.province">
                                <div class="bdd_select bdd_font  bdd_font_color">
                                    {{$ctrl.province}}&nbsp;&nbsp;&nbsp;&nbsp;<span
                                        ng-click="$ctrl.cancelArea()">×</span></div>
                            </div>
                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.city">
                                <div class="bdd_select bdd_font  bdd_font_color">
                                    {{$ctrl.city}}&nbsp;&nbsp;&nbsp;&nbsp;<span ng-click="$ctrl.cancleEmCity()">×</span>
                                </div>
                            </div>
                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.qual1">
                                <div class="bdd_select bdd_font  bdd_font_color">
                                    {{$ctrl.qual1.name}}&nbsp;&nbsp;&nbsp;&nbsp;<span
                                        ng-click="$ctrl.cancelQUal()">×</span>
                                </div>
                            </div>
                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.qual2">
                                <div class="bdd_select bdd_font  bdd_font_color">
                                    {{$ctrl.qual2.name}}&nbsp;&nbsp;&nbsp;&nbsp;<span
                                        ng-click="$ctrl.cancleEmQTwo()">×</span>
                                </div>
                            </div>
                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a" ng-if="$ctrl.qual3">
                                <div class="bdd_select bdd_font  bdd_font_color">
                                    {{$ctrl.qual3.name}}&nbsp;&nbsp;&nbsp;&nbsp;<span ng-click="$ctrl.cancleEmQThree()">×</span>
                                </div>
                            </div>

                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a"
                                 ng-repeat="mm in $ctrl.pbModes ">
                                <div class="bdd_select bdd_font  bdd_font_color" style="width:auto;">
                                    <span style="width: 10px;">{{mm}}</span>&nbsp;&nbsp;<span
                                        ng-click="$ctrl.canclePbMode('{{mm}}')">×</span></div>
                            </div>

                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a"
                                 ng-if="$ctrl.projSumStart || $ctrl.projSumEnd">
                                <div class="bdd_select bdd_font  bdd_font_color" style="width:auto;">
                                    {{$ctrl.projSumStart}}万—{{$ctrl.projSumEnd}}万&nbsp;&nbsp;<span
                                        ng-click="$ctrl.canclePrice()">×</span></div>
                            </div>

                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a"
                                 ng-if="$ctrl.kbDateStart || $ctrl.kbDateEnd">
                                <div class="bdd_select bdd_font  bdd_font_color" style="width:auto;">
                                    {{$ctrl.kbDateStart}}—{{$ctrl.kbDateEnd}}&nbsp;&nbsp;<span
                                        ng-click="$ctrl.cancelKbDate()">×</span></div>
                            </div>

                            <div class="bdd_area_content bdd_text_vib bdd_text_vib_a"><span class="bdd_font_span"
                                                                                            ng-click="$ctrl.cancelFilter()">&nbsp;&nbsp;&nbsp;&nbsp;清空</span>
                            </div>

                            <div class="bdd_side_news_val">
                                <div class="bdd_side_rihgt">综合排序</div>
                                <div class="bdd_side_rihgt_r">共找到<span style="color:#cea63f"
                                                                       ng-bind="$ctrl.totalCount"></span>公告
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 内容 -->
            <div class="bdd_adver">
                <div class="bdd_adver_header" id="bdd_adver_header" infinite-scroll='$ctrl.nextPage()'
                     infinite-scroll-disabled='$ctrl.busy' infinite-scroll-distance='1'>
                    <a ng-repeat="notice in $ctrl.noticeList">
                        <div class="bdd_win_conter" style="margin-top:10px;">
                            <div class="bdd_text_z" ng-bind="notice.title"></div>
                            <div class="bdd_text_y">资质要求：{{notice.certificate}}</div>
                            <div class="bdd_text_p">评标办法：{{notice.pbMode}}</div>
                            <div class="bdd_text_invite">{{notice.projectType}}</div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="bdd_text_invite bdd_text_pading">{{notice.noticeType}}</div>
                            <div class="bdd_text_riqi">{{notice.opendate}}</div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </a>
                </div>
            </div>

        </div>


        <div id="bdd_second_menu"
             style="width: 150px;overflow:hidden;background-color: white;position: absolute;padding-left: 10px;">
            <div style="width: 150px;height: 25px;" ng-repeat="item in $ctrl.zzList"><a class="a-point"
                                                                                        ng-bind="item.name"
                                                                                        ng-click="$ctrl.clickQual3(item,$ctrl.zzTwo,$ctrl.zzOne)"></a>
            </div>
        </div>


    </div>
