<!--头部-->
<div class="bdd_header">
    <div class="bdd_Busing_text" ng-bind="$ctr1.projectDetail.proName">
    </div>
    <div class="bdd_Busing_lick">
        <div class="bdd_Busing_span">项目编号：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.projectNo"></span></div>
        <div class="bdd_Busing_span bdd_Busing_message">省级项目编号：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.proNo"></span></div>
        <div class="bdd_Busing_span bdd_Busing_message">总投资/万元：<span class="bdd_Busing_message_in">{{$ctr1.projectDetail.investAmount}}</span></div>
    </div>
    <div class="bdd_Busing_lick">
        <div class="bdd_Busing_span">项目分类：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.proType"></span></div>
        <div class="bdd_Busing_span bdd_Busing_message">建设性质：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.buildType"></span></div>
        <div class="bdd_Busing_span bdd_Busing_message">总面积/平方米：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.acreage"></span></div>
    </div>
    <div class="bdd_Busing_lick">
        <div class="bdd_Busing_span">立项级别：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.proLevel"></span></div>
        <div class="bdd_Busing_span bdd_Busing_message bdd_Busing_message_a">立项文号：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.approvalNum"></span>
        </div>
    </div>
    <div class="bdd_Busing_text_a">建设单位：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.proOrg"></span></div>
    <div class="bdd_Busing_text_a">建设单位组织机构代码（统一社会信用代码）：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.orgCode"></span>
    </div>
    <div class="bdd_Busing_text_a">所在区划：<span class="bdd_Busing_message_in">{{$ctr1.projectDetail.proWhere}}</span></div>
    <div class="bdd_Busing_text_a">工程用途：<span class="bdd_Busing_message_in" ng-bind="$ctr1.projectDetail.proUse"></span></div>
</div>
<!--table切换-->
<div class="bdd_content_a">
    <div class="bdd_Busing_message_b" ui-sref="projectDetail.bidding({proId:$ctr1.proId})" ng-click="$ctr1.selectMenu('projectDetail.bidding')" style="{{$ctr1.menu=='projectDetail.bidding'?'backgroundColor:#4d3a3a;':''}}"><div style="background-color: #4d3a3a;color: white;width: 220px;" >招投标</div></div>
    <div class="bdd_Busing_message_b" ui-sref="projectDetail.censor({proId:$ctr1.proId})" ng-click="$ctr1.selectMenu('projectDetail.censor')" style="{{$ctr1.menu=='projectDetail.censor'?'backgroundColor:#4d3a3a;':''}}"><div style="background-color: #4d3a3a;color: white;width: 220px;" >施工图审查</div></div>
    <div class="bdd_Busing_message_b" ui-sref="projectDetail.contract({proId:$ctr1.proId})" ng-click="$ctr1.selectMenu('projectDetail.contract')" style="{{$ctr1.menu=='projectDetail.contract'?'backgroundColor:#4d3a3a;':''}}">合同备案</div>
    <div class="bdd_Busing_message_b" ui-sref="projectDetail.permission({proId:$ctr1.proId})" ng-click="$ctr1.selectMenu('projectDetail.permission')" style="{{$ctr1.menu=='projectDetail.permission'?'backgroundColor:#4d3a3a;':''}}">施工许可</div>
    <div class="bdd_Busing_message_b" ui-sref="projectDetail.complete({proId:$ctr1.proId})" ng-click="$ctr1.selectMenu('projectDetail.complete')" style="{{$ctr1.menu=='projectDetail.complete'?'backgroundColor:#4d3a3a;':''}}">竣工备案</div>
</div>
<!--内容-->
<div class="bdd_busing_con_side">
    <ui-view> </ui-view>
</div>
