<style>
    .bdd_busing_com_b{
        background-color: #F8F8F8;
    }
    .bdd_busing_com_k{
        background-color: white;
        width: 1100px;
        margin-left: -50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px;
    }
</style>
<div class="bdd_busing_com_b" style="cursor: pointer;" ng-repeat="projectZ in ctrl.projectZhongbiaoList"
     ng-click="ctrl.projectZhaoDetail('{{projectZ.pkid}}','{{projectZ.zhongbiaoCompany}}','{{projectZ.zhaobiaoType}}')">
    <div class="bdd_busing_com_k">
    <div class="bdd_busing_com_infor">{{projectZ.zhongbiaoCompany}}<span class="bdd_busing_com_infor_b">（中标单位)</span></div>
    <div class="bdd_busing_com_infor_k">
        <div class="bdd_busing_com_infor_l">中标金额/万元：{{projectZ.zhongbiaoAmount}}</div>
        <div class="bdd_busing_com_infor_h">招标类型：{{projectZ.zhaobiaoType}}</div>
    </div>
    <div class="bdd_busing_com_infor_k">
        <div class="bdd_busing_com_infor_l">招标方式：{{projectZ.zhaobiaoWay}}</div>
        <div class="bdd_busing_com_infor_h">中标日期：{{projectZ.zhongbiaoDate}}</div>
    </div>
    </div>

    <div class="bdd_business_informessage"  ng-show="projectZ.isShow">
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">中标通知书标号：{{ctrl.zhaoProjectDetail.zhongbiaoCode}}</div>
            <div class="bdd_business_informessage_conter_r">省级中标通知书标号：{{ctrl.zhaoProjectDetail.provZhongbiaoCode}}</div>
        </div>
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">招标类型：{{ctrl.zhaoProjectDetail.zhaobiaoType}}</div>
            <div class="bdd_business_informessage_conter_r">招标方式：{{ctrl.zhaoProjectDetail.zhaobiaoWay}}</div>
        </div>
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">中标日期：{{ctrl.zhaoProjectDetail.zhongbiaoDate}}</div>
            <div class="bdd_business_informessage_conter_r">招标金额/万元：{{ctrl.zhaoProjectDetail.zhongbiaoAmount}}</div>
        </div>
        <div class="bdd_business_informessage_conter">建设规模：{{ctrl.zhaoProjectDetail.proScope}}</div>
        <div class="bdd_business_informessage_conter">面积/平方米：{{ctrl.zhaoProjectDetail.acreage}}</div>
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">招标代理单位公司：{{ctrl.zhaoProjectDetail.zhaobiaoAgencyCompany}}</div>
            <div class="bdd_business_informessage_conter_r">招标代理单位组织机构代码：{{ctrl.zhaoProjectDetail.zhaobiaoCompanyCode}}</div>
        </div>
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">中标单位名称：{{ctrl.zhaoProjectDetail.zhongbiaoCompany}}</div>
            <div class="bdd_business_informessage_conter_r">中标单位组织机构代码：{{ctrl.zhaoProjectDetail.zhongbiaoCompanyCode}}</div>
        </div>
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">项目金额/总监理工程师姓名：{{ctrl.zhaoProjectDetail.name}}</div>
            <div class="bdd_business_informessage_conter_r">项目金额/总监理工程师身份证号：{{ctrl.zhaoProjectDetail.idCard}}</div>
        </div>
        <div class="bdd_business_informessage_conter">记录登记时间：{{ctrl.zhaoProjectDetail.recordDate}}</div>
        <div class="bdd_busing_text_mess" ng-if="ctrl.zhaoProjectDetail.personList != null && ctrl.zhaoProjectDetail.personList.length > 0">主要参加人员</div>
        <div class="bdd_busing_text_mess_b" ng-repeat="person in ctrl.zhaoProjectDetail.personList">
            <div class="bdd_busing_text_mess_r"><span class="bdd_business_informessage_span">{{person.name}}</span><span
                    class="bdd_business_informessage_span_l">({{person.role}})</span></div>
            <div class="bdd_busing_text_content">
                <div class="bdd_busing_text_mess_r bdd_business_informessage_kit">证书编号：{{person.certNo}}</div>
                <div class="bdd_busing_text_mess_r bdd_business_informessage_kit bdd_business_informessage_a">
                    安全证书编号：{{person.safeNo}}
                </div>
                <div class="bdd_busing_text_mess_r bdd_business_informessage_kit bdd_business_informessage_a">状态：{{person.status}}
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center;width:100%;margin-bottom: 200px;border: none;line-height: 30px;color: #4d3a3a" ng-if="ctrl.projectZhongbiaoList.length <= 0">
    <span style="color: #985f0d">sorry,暂未查询到该业绩的招投标信息</span>
</div>