
<style>
    .bdd_business_informessage{
        margin-left: 100px;
    }
    .bdd_busing_con_side{
        width: 1200px;
        margin: 0 auto;
    }
    .bdd_busing_con_side_header{
        margin-bottom: 140px;
        margin-top: 30px;
    }
    .bdd_busing_text_mess_b{
        margin-left: -10px;
    }
    .bdd_busing_k{
        margin-bottom: 40px;
    }


</style>
<div class="bdd_busing_con_side_header">
<div class="bdd_busing_con_side" ng-repeat="design in ctrl.projectDesignList"
     ng-click="ctrl.projectDesignDetail('{{design.pkid}}','{{design.isDesignShow}}')" style="cursor: pointer">
    <div class="bdd_busing_com_b" >
        <div style="padding-top: 20px;" class="bdd_busing_com_infor_k">
            <div class="bdd_busing_com_infor_l">勘察单位：{{design.exploreOrg}}</div>
            <div class="bdd_busing_com_infor_h">设计单位：{{design.designOrg}}</div>
        </div>
        <div class="bdd_busing_com_infor_k">
            <div class="bdd_busing_com_infor_l">施工图审查机构：{{design.checkOrg}}</div>
            <div class="bdd_busing_com_infor_h">审查完成时间：{{design.checkFinishDate}}</div>
        </div>
    </div>
    <div class="bdd_business_informessage" ng-show="design.isDesignShow">
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">施工图审查机构名称：{{ctrl.designDetail.checkOrg}}</div>
            <div class="bdd_business_informessage_conter_r">施工图审查机构组织机构代码：{{ctrl.designDetail.checkOrgCode}}</div>
        </div>
        <div class="bdd_business_informessage_conter">
            <div class="bdd_business_informessage_conter_l">施工图审查合格书编号：{{ctrl.designDetail.checkNo}}</div>
            <div class="bdd_business_informessage_conter_r">省级施工图审查合格书编号：{{ctrl.designDetail.checkNumber}}</div>
        </div>
        <div class="bdd_business_informessage_conter">建设规模：{{ctrl.designDetail.proScope}}</div>
        <div class="bdd_business_informessage_conter">审查完成时间：{{design.checkFinishDate}}</div>

        <div class="bdd_busing_text_mess" ng-if="ctrl.designDetail.exploreOrg != null || ctrl.designDetail.designOrg != null">企业主体信息</div>
        <div class="bdd_busing_k">
        <div class="bdd_busing_text_mess_b"  ng-if="ctrl.designDetail.exploreOrg != null">
            <div class="bdd_busing_text_mess_r"><span class="bdd_business_informessage_span">{{ctrl.designDetail.exploreOrg}}</span><span
                    class="bdd_business_informessage_span_l">(勘察单位)</span>
            </div>
            <div class="bdd_busing_text_content">
                <div class="bdd_busing_text_mess_r bdd_business_informessage_kit">统一社会信用代码：{{ctrl.designDetail.exploreOrgCode}}</div>
                <div class="bdd_busing_text_mess_r bdd_business_informessage_kit bdd_business_informessage_a">
                    所在省份：{{ctrl.designDetail.exploreProvince}}
                </div>
            </div>
        </div>

        <div class="bdd_busing_text_mess_b"  ng-if="ctrl.designDetail.designOrg != null">
            <div class="bdd_busing_text_mess_r"><span class="bdd_business_informessage_span">{{ctrl.designDetail.designOrg}}</span><span
                    class="bdd_business_informessage_span_l">(设计单位)</span>
            </div>
            <div class="bdd_busing_text_content">
                <div class="bdd_busing_text_mess_r bdd_business_informessage_kit">统一社会信用代码：{{ctrl.designDetail.designOrgCode}}</div>
                <div class="bdd_busing_text_mess_r bdd_business_informessage_kit bdd_business_informessage_a">
                    所在省份：{{ctrl.designDetail.designProvince}}
                </div>
            </div>
        </div>
        </div>

        <div class="bdd_busing_text_mess" ng-if="ctrl.designDetail.personList != null && ctrl.designDetail.personList.length > 0">从业人员信息</div>
        <div class="bdd_busing_text_mess_b bdd_business_infor" ng-if="ctrl.designDetail.personList != null && ctrl.designDetail.personList.length > 0"
         ng-repeat="perDetail in ctrl.designDetail.personList">
            <div style="padding-top: 20px;" class="bdd_busing_com_infor_k">
                <div class="bdd_busing_com_infor_l"><span class="bdd_business_informessage_span">{{perDetail.name}}</span><span
                        class="bdd_business_informessage_span_l">({{perDetail.role}})</span></div>
                <div class="bdd_busing_com_infor_h">证件号码：{{perDetail.idCard}}</div>
            </div>
            <div style="padding-top: 25px;" class="bdd_busing_com_infor_k">
                <div class="bdd_busing_com_infor_l">注册类型及等级：{{perDetail.category}}</div>
                <div class="bdd_busing_com_infor_h">专业名称：-</div>
            </div>
            <div style="padding-top:10px;" class="bdd_busing_com_infor_k">
                <div class="bdd_busing_com_infor_l">所在企业：{{perDetail.safeNo}}</div>
                <div class="bdd_busing_com_infor_h">执业印章号：{{perDetail.safeNo}}</div>
            </div>

        </div>

    </div>

</div>

<div style="text-align: center;width:100%;margin-bottom: 200px;border: none;line-height: 30px;color: #4d3a3a"
     ng-if="ctrl.projectDesignList.length <= 0">
    <span style="color: #985f0d">sorry,暂未查询到该业绩的施工图审查信息</span>
</div>
</div>