
<!--图片-->
<div class="bdd_basic_hold">
    <div class="bdd_basic_top">
        <div class="bdd_basic_conter">
            <div class="bdd_basic_top_l">
                <img ng-if="ctrl.company.logo" style="width: 80px;height: 80px;" src="{{ctrl.company.logo}}" alt="">
            </div>
            <div class="bdd_basic_top_r">
                <div class="bdd_basic_top_p bdd_basic_P_size" ng-bind="ctrl.company.comName"></div>
                <div class="bdd_basic_P_span_xu" ng-bind="ctrl.company.subsist|limitTo:2"></div>
            </div>
            <br><br>
            <div style="margin-left: 20px;padding-top: 20px;" class="bdd_basic_person">
                法人代表：{{ctrl.company.legalPerson}}
            </div>
            <div class="bdd_basic_person bdd_basic_person_site">注册地：{{ctrl.company.regisAddress}}</div>
            <div class="bdd_basic_person bdd_basic_person_site">注册资金：{{ctrl.company.regisCapital}}</div>
        </div>
    </div>
</div>
<!--微信-->
<div class="bdd_follow_dv">
    <div class="bdd_follow bdd_follow_foll " ng-if="ctrl.isFollow==true" ng-click="ctrl.collectionCompany()"><img src="../../../vendor/images/zb_btn_follow.png" alt=""></div>
    <div class="bdd_follow bdd_follow_foll " ng-if="ctrl.isFollow==false" ng-click="ctrl.cancelCollectionCompany()"><img src="../../../vendor/images/zb_btn_follow_pre.png" alt=""></div>
    <div class="bdd_follow bdd_follow_pyq bdd_follow_zb bdd_follow_span" style="cursor: pointer" ng-click="ctrl.companyShare('xinlang')"><img
            src="../../../vendor/images/zb_icon_weibo.png" alt=""></div>
    <div class="bdd_follow bdd_follow_pyq" style="cursor: pointer" ng-click="ctrl.companyShare('wechat')"><img src="../../../vendor/images/zb_icon_wechat.png" alt=""></div>
    <div class="bdd_follow bdd_follow_pyq" style="cursor: pointer" ng-click="ctrl.companyShare('qq')"><img src="../../../vendor/images/zb_icon_qq.png" alt=""></div>
    <!--<div class="bdd_follow bdd_follow_pyq"><img src="../../../vendor/images/zb_icon_pyq.png" alt=""></div>-->
    <!--<div class="bdd_follow "><input class="bdd_follow_weibo" type="text" value="分享到微博"></div>-->
    <div class="bdd_follow "><img class="bdd_follow_weibo" style="width: 100px;height: 100px" src="{{ctrl.imgCodeUrlCompany}}" ng-show="ctrl.shareShow"></div>
</div>
<!--导航-->
<div class="bdd_basic_nav">
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(1)" ng-style="ctrl.style01">基本信息</div>
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(2)" ng-style="ctrl.style02">信誉信息</div>
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(3)" ng-style="ctrl.style03">资质信息</div>
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(4)" ng-style="ctrl.style04">人员信息</div>
</div>
<!--内容-->
<div class="bdd_basic_nav_conter" ng-if="ctrl.showType==1">
    <div style="overflow: hidden" class="bdd_basic_nav_header">
        <div style="width: 100%;height:30px;margin-top:15px;">
            <div class="bdd_basic_nav_header_left">注册号：<span class="bdd_basic_black"
                                                             ng-bind="ctrl.company.businessNum"></span></div>
            <div class="bdd_basic_nav_header_right">企业类型：<span class="bdd_basic_black"
                                                               ng-bind="ctrl.company.economicType"></span></div>
        </div>
        <div style="width: 100%;height:30px;margin-top:15px;">
            <div class="bdd_basic_nav_header_left">安许证号：<span class="bdd_basic_black"
                                                              ng-bind="ctrl.company.certNo"></span></div>
            <div class="bdd_basic_nav_header_right">有效期至：<span class="bdd_basic_black"
                                                               ng-bind="ctrl.company.validDate"></span></div>
        </div>
        <div style="width: 100%;height:30px;margin-top:15px;">
            <div class="bdd_basic_nav_header_left">经营地址：<span style="color: #cea63f"
                                                              ng-bind="ctrl.company.comAddress"></span></div>
        </div>

    </div>

</div>
<!--经营范围-->
<div class="bdd_scope" ng-if="ctrl.showType==1">
    <div class="bdd_scope_conter">
        <div class="bdd_scope_conter_right"><span><div class="bdd_scope_conter_left"></div></span>经营范围</div>
    </div>
    <div class="bdd_scopr_top">
        <div class="bdd_scopr_top_span" ng-if="ctrl.company.comRange" ng-bind="ctrl.company.comRange"></div>
        <div class="bdd_scopr_top_span" ng-if="!ctrl.company.comRange">sorry，暂未查询到该公司的经营范围</div>
    </div>
</div>

<!--信誉信用总分-->
<!--<div class="bdd_reput_top" ng-if="ctrl.showType==2">
    <div class="bdd_reput_top_title">"现在的普通改变，将改变未来的普通"</div>
</div>-->
<!--获奖情况-->
<div class="bdd_reput_conter" ng-if="ctrl.showType==2">
    <div class="bdd_scope_conter">
        <div class="bdd_scope_conter_right">
            <div class="bdd_scope_conter_left display_inline"></div>
            <div class="display_inline">获奖信息</div>
        </div>
    </div>
    <div class="bdd_scopr_prize_span">
        <div class="bdd_scopr_prize bdd_scope_reput" ng-repeat="repu in ctrl.repuMap.reputation"
             ng-click="ctrl.showReputation(repu.list)">{{repu.name}}<span style="color: #cea63f">（{{repu.num}}）</span>
        </div>
    </div>
    <!--鲁班奖-->
    <div class="bdd_basic_person_spans">
        <div class="bdd_lauban">
            <div ng-show="ctrl.showTip==1">sorry，暂未查询到该公司信誉信息</div>
            <div ng-repeat="item in ctrl.reputList">
                <div class="bdd_lauban_rihgt_a">
                    <div class="bdd_lauban_left display_inline"></div>
                    <div class="display_inline">{{item.name}}</div>
                    <div class="display_inline"  style="padding-left: 100px">
                    <a ng-click="ctrl.changeOneMore($event)"> 收起</a>
                    </div>
                </div>
                <div class="bdd_lauban_news">
                    <div class="bdd_lauban_conter" ng-repeat="subItem in item.list">
                        <div>
                            <div class="bdd_lauban_conter_left_one"><span>项目名称:</span><span
                                    ng-bind="subItem.projName|limitTo:50"></span></div>
                            <div class="bdd_lauban_conter_right_one">项目分值：{{subItem.score}}</div>
                        </div>
                        <div class="bdd_lauban_conter_d">
                            <div class="bdd_lauban_conter_left">项目类型：{{subItem.projType}}</div>
                            <div class="bdd_lauban_conter_right">年度:{{subItem.years}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--不良记录-->
            <div class="bdd_reput_conter" ng-if="ctrl.showType==2">
                <div class="bdd_scope_conter">
                    <div class="bdd_scope_conter_right">
                        <div class="bdd_scope_conter_left display_inline"></div>
                        <div class="display_inline">不良记录</div>
                    </div>
                </div>
                <div class="bdd_scopr_prize_span">
                    <div class="bdd_scopr_prize bdd_scope_reput" ng-repeat="undes in ctrl.undesMap.undesirable"
                         ng-click="ctrl.showUndesirable(undes.list)">{{undes.name}}<span style="color: #cea63f">（{{undes.num}}）</span>
                    </div>
                    <div class="display_inline"  style="padding-left: 100px">
                        <a ng-click="ctrl.showUndesBoo()" ng-bind="ctrl.unshow"> </a>
                    </div>

                </div>
                <!--鲁班奖-->
                <div class="bdd_lauban" ng-show="ctrl.boo">
                    <div class="bdd_lauban_news" ng-repeat="item in ctrl.undesList">
                        <div class="bdd_lauban_conter bdd_lauban_conter_mess">
                            <div>
                                <div class="bdd_lauban_conter_left_one">项目名称:{{item.projectName}}</div>
                                <div class="bdd_lauban_conter_right_one">发布日期：{{item.publishDate}}</div>
                            </div>
                            <div class="bdd_lauban_conter_d">
                                <div class="bdd_lauban_conter_left">发布单位：{{item.publishSite}}</div>
                                <div class="bdd_lauban_conter_right">行为代码：{{item.actionCode}}</div>
                            </div>
                            <div class="bdd_lauban_conter_footer" ng-bind="item.badBehaviorContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--资质要求-->
<div class="bdd_Personl_talbe" ng-if="ctrl.showType==3">
    <div class="bdd_Personl_talbe_header">
        <div class="bdd_Personl_table_header_list">
            <span style="color: #cea63f" ng-click="ctrl.allQual()">全部</span>
        </div>
        <div class="bdd_Personl_table_header_title" ng-repeat="qual in ctrl.qualTypeList" ng-bind="qual.qualType" ng-click="ctrl.typeToQual(qual.list)">

        </div>
        <div class="bdd_Personl_table_header_right ">共有 <span style="color: #cea63f" ng-bind="ctrl.qualSize"></span> 条资质信息</div>
    </div>
    <table cellspacing="0" style="text-align: center;width:100%;margin-bottom: 200px;border: none">
        <tr class="bdd_per_tr_a" style="width:80%;margin: 0 auto">
            <th style="text-align: center;width: 20%;">资质名称</th>
            <th style="text-align: center;width: 20%;">资质编号</th>
            <th style="text-align: center;width: 20%;">有效期</th>
            <th style="text-align: center;width: 20%;">发证机关</th>
        </tr>
        <tr class="bdd_tr_a" style="color:#4d3a3a;font-size: 16px;line-height:20px;" ng-repeat="item in ctrl.qualList">
            <td ng-bind="item.qualName"></td>
            <td ng-bind="item.certNo"></td>
            <td ng-bind="item.validDate"></td>
            <td ng-bind="item.certOrg"></td>
        </tr>
    </table>
</div>

<!--人员信息-->
<div class="bdd_Personl_talbe" ng-if="ctrl.showType==4">
    <div class="bdd_Personl_talbe_header">
        <div class="bdd_Personl_table_header_list">
            <span style="color: #cea63f" ng-click="ctrl.setPage()">全部</span>
        </div>
        <div class="bdd_Personl_table_header_title" ng-repeat="cate in ctrl.categoryList"  ng-click="ctrl.selectCate(cate.category)">
            {{cate.category}}({{cate.num}})
        </div>
        <div class="bdd_Personl_table_header_right ">共有 <span style="color: #cea63f;" ng-bind="ctrl.personSize"></span> 条人员信息</div>
    </div>
    <table cellspacing="0" style="text-align: center;width:100%;margin-bottom: 200px;border: none">
        <tr class="bdd_per_tr_a" style="width:80%;margin: 0 auto">
            <th style="text-align: center;width: 20%;">姓名</th>
            <th style="text-align: center;width: 20%;">注册类别</th>
            <th style="text-align: center;width: 20%;">注册证书编号</th>
            <th style="text-align: center;width: 20%;">专业</th>
            <th style="text-align: center;width: 20%;">有效期</th>
        </tr>
        <div id="bdd_adver_header" infinite-scroll='ctrl.nextPage()'
             infinite-scroll-disabled='ctrl.busy' infinite-scroll-distance='1'>
        <tr style="color:#4d3a3a;font-size: 16px;line-height: 60px" ng-repeat="person in ctrl.personList">
            <td ng-bind="person.name"></td>
            <td ng-bind="person.category"></td>
            <td ng-bind="person.certNo"></td>
            <td ng-bind="person.major"></td>
            <td ng-bind="person.validDate"></td>
        </tr>
        </div>


    </table>
</div>
