<!--头部-->
<nav class="bdd-nav">
    <div class="bdd-nav-div">
        <div class="bdd-img-div">
            <div class="bdd-img-one"><img class="bdd-img" src="../../../vendor/images/logo.png" alt=""/></div>
        </div>
        <div class="bdd-nav-title"><a ui-sref="home">首页</a></div>
        <div class="bdd-nav-title"><a ui-sref="zhaobiao">标讯</a></div>
        <div class="bdd-nav-title"><a style="color:white" ui-sref="Company">企信</a></div>
        <div class="bdd-nav-title"><a ui-sref="trend">动态</a></div>
        <div class="bdd-nav-title"><a ui-sref="society">应用</a></div>
        <div class="bdd-nav-title bdd-nav-title-hide">
            <div class="search-status">
                <div class="search-filter">
                    <a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
                    <ul class="options">
                        <li><a href="javascript:;" data-rel="project">作品</a></li>
                        <li><a href="javascript:;" data-rel="experience">文章</a></li>
                        <li><a href="javascript:;" data-rel="source">源文件</a></li>
                        <li><a href="javascript:;" data-rel="designer">设计师</a></li>
                        <li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
                        <li><a href="javascript:;" data-rel="talk">话题</a></li>
                        <li><a href="javascript:;" data-rel="activity">活动</a></li>
                        <li><a href="javascript:;" data-rel="veer">素材</a></li>
                    </ul>
                </div>
                <div class="search-select">
                    <input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value=""
                           name="keywords" id="keywords">
                    <ul class="options" style="display: none;">
                        <li><a href="javascript:;">app</a></li>
                        <li><a href="javascript:;">logo</a></li>
                        <li><a href="javascript:;">icon</a></li>
                        <li><a href="javascript:;">AE</a></li>
                        <li><a href="javascript:;">作品集</a></li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="type" value="project" id="sType"></div>
        <div class="bdd-nav-title bdd-nav-search"><a href="#"><img src="../../../vendor/images/nav_icon_search.png"
                                                                   alt=""></a></div>
        <div class="bdd-nav-title bdd-nav-right">APP下载</div>
        <div class="bdd-nav-title bdd-nav-right">登录/注册</div>
    </div>
</nav>
</div>
</div>
<!--图片-->
<div class="bdd_basic_hold">
    <div class="bdd_basic_top">
        <div class="bdd_basic_conter">
            <div class="bdd_basic_top_l"></div>
            <div class="bdd_basic_top_r">
                <div class="bdd_basic_top_p bdd_basic_P_size" ng-bind="ctrl.company.comName"></div>
                <div class="bdd_basic_P_span_xu" ng-bind="ctrl.company.subsist|limitTo:2"></div>
            </div>
            <br><br>
            <div style="margin-left: 20px;padding-top: 20px;" class="bdd_basic_person">
                法人代表：{{ctrl.company.legalPerson}}
            </div>
            <div class="bdd_basic_person bdd_basic_person_site">注册地：{{ctrl.company.regisAddress}}</div>
            <div class="bdd_basic_person bdd_basic_person_site">注册资金：{{ctrl.company.regisCapital}}</div>
        </div>
    </div>
</div>
<!--微信-->
<div class="bdd_follow_dv">
    <div class="bdd_follow bdd_follow_foll "><img src="../../../vendor/images/zb_btn_follow.png" alt=""></div>
    <div class="bdd_follow bdd_follow_pyq bdd_follow_zb bdd_follow_span"><img
            src="../../../vendor/images/zb_icon_weibo.png" alt=""></div>
    <div class="bdd_follow bdd_follow_pyq"><img src="../../../vendor/images/zb_icon_wechat.png" alt=""></div>
    <div class="bdd_follow bdd_follow_pyq"><img src="../../../vendor/images/zb_icon_qq.png" alt=""></div>
    <div class="bdd_follow bdd_follow_pyq"><img src="../../../vendor/images/zb_icon_pyq.png" alt=""></div>
    <div class="bdd_follow "><input class="bdd_follow_weibo" type="text" value="分享到微博"></div>
</div>
<!--导航-->
<div class="bdd_basic_nav">
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(1)" ng-style="ctrl.style01">基本信息</div>
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(2)" ng-style="ctrl.style02">信誉信息</div>
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(3)" ng-style="ctrl.style03">资质信息</div>
    <div class="bdd_basic_nav_title" ng-click="ctrl.changeType(4)" ng-style="ctrl.style04">人员信息</div>
</div>
<!--内容-->
<div class="bdd_basic_nav_conter" ng-if="ctrl.showType==1">
    <div style="overflow: hidden" class="bdd_basic_nav_header">
        <div style="width: 100%;height:30px;margin-top:15px;">
            <div class="bdd_basic_nav_header_left">注册号：<span class="bdd_basic_black"
                                                             ng-bind="ctrl.company.businessNum"></span></div>
            <div class="bdd_basic_nav_header_right">企业类型：<span class="bdd_basic_black"
                                                               ng-bind="ctrl.company.economicType"></span></div>
        </div>
        <div style="width: 100%;height:30px;margin-top:15px;">
            <div class="bdd_basic_nav_header_left">安许证号：<span class="bdd_basic_black"
                                                              ng-bind="ctrl.company.certNo"></span></div>
            <div class="bdd_basic_nav_header_right">有效期至：<span class="bdd_basic_black"
                                                               ng-bind="ctrl.company.validDate"></span></div>
        </div>
        <div style="width: 100%;height:30px;margin-top:15px;">
            <div class="bdd_basic_nav_header_left">经营地址：<span style="color: #cea63f"
                                                              ng-bind="ctrl.company.comAddress"></span></div>
        </div>

    </div>

</div>
<!--经营范围-->
<div class="bdd_scope" ng-if="ctrl.showType==1">
    <div class="bdd_scope_conter">
        <div class="bdd_scope_conter_right"><span><div class="bdd_scope_conter_left"></div></span>经营范围</div>
    </div>
    <div class="bdd_scopr_top">
        <div class="bdd_scopr_top_span" ng-bind="ctrl.company.comRange"></div>
    </div>
</div>

<!--信誉信用总分-->
<div class="bdd_reput_top" ng-if="ctrl.showType==2">
    <div class="bdd_reput_top_title">"现在的普通改变，将改变未来的普通"</div>
</div>
<!--获奖情况-->
<div class="bdd_reput_conter" ng-if="ctrl.showType==2">
    <div class="bdd_scope_conter">
        <div class="bdd_scope_conter_right">
            <div class="bdd_scope_conter_left display_inline"></div>
            <div class="display_inline">获奖信息</div>
        </div>
    </div>
    <div class="bdd_scopr_prize_span">
        <div class="bdd_scopr_prize bdd_scope_reput" ng-repeat="repu in ctrl.repuMap.reputation"
             ng-click="ctrl.showReputation(repu.list)">{{repu.name}}<span style="color: #cea63f">（{{repu.num}}）</span>
        </div>
    </div>
    <!--鲁班奖-->
    <div class="bdd_basic_person_spans">
        <div class="bdd_lauban">
            <div ng-show="ctrl.showTip==1">要努力哦！</div>
            <div ng-repeat="item in ctrl.reputList">
                <div class="bdd_lauban_rihgt_a">
                    <div class="bdd_lauban_left display_inline"></div>
                    <div class="display_inline">{{item.name}}</div>
                    <div class="display_inline"  style="padding-left: 100px">
                    <a ng-click="ctrl.changeOneMore($event)"> 收起</a>
                    </div>
                </div>
                <div class="bdd_lauban_news">
                    <div class="bdd_lauban_conter" ng-repeat="subItem in item.list">
                        <div>
                            <div class="bdd_lauban_conter_left_one"><span>项目名称:</span><span
                                    ng-bind="subItem.projName|limitTo:50"></span></div>
                            <div class="bdd_lauban_conter_right_one">项目分值：{{subItem.score}}</div>
                        </div>
                        <div class="bdd_lauban_conter_d">
                            <div class="bdd_lauban_conter_left">项目类型：{{subItem.projType}}</div>
                            <div class="bdd_lauban_conter_right">年度:{{subItem.years}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--不良记录-->
            <div class="bdd_reput_conter" ng-if="ctrl.showType==2">
                <div class="bdd_scope_conter">
                    <div class="bdd_scope_conter_right">
                        <div class="bdd_scope_conter_left display_inline"></div>
                        <div class="display_inline">不良记录</div>
                    </div>
                </div>
                <div class="bdd_scopr_prize_span">
                    <div class="bdd_scopr_prize bdd_scope_reput" ng-repeat="undes in ctrl.undesMap.undesirable"
                         ng-click="ctrl.showUndesirable(undes.list)">{{undes.name}}<span style="color: #cea63f">（{{undes.num}}）</span>
                    </div>

                </div>
                <!--鲁班奖-->
                <div class="bdd_lauban">
                    <div class="bdd_lauban_rihgt">
                        <div class="bdd_lauban_left display_inline"></div>
                        <div class="display_inline">性质</div>
                    </div>
                    <div class="bdd_lauban_news" ng-repeat="item in ctrl.undesList">
                        <div class="bdd_lauban_conter bdd_lauban_conter_mess">
                            <div>
                                <div class="bdd_lauban_conter_left_one">项目名称:{{item.projectName}}</div>
                                <div class="bdd_lauban_conter_right_one">发布日期：{{item.publishDate}}</div>
                            </div>
                            <div class="bdd_lauban_conter_d">
                                <div class="bdd_lauban_conter_left">发布单位：{{item.publishSite}}</div>
                                <div class="bdd_lauban_conter_right">行为代码：{{item.actionCode}}</div>
                            </div>
                            <div class="bdd_lauban_conter_footer" ng-bind="item.badBehaviorContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--资质要求-->
<div class="bdd_Personl_talbe" ng-if="ctrl.showType==3">
    <div class="bdd_Personl_talbe_header">
        <div class="bdd_Personl_table_header_list">
            <span style="color: #cea63f" ng-click="ctrl.allQual()">全部</span>
        </div>
        <div class="bdd_Personl_table_header_title" ng-repeat="qual in ctrl.qualTypeList" ng-bind="qual.qualType" ng-click="ctrl.typeToQual(qual.list)">

        </div>
        <div class="bdd_Personl_table_header_right ">共有<span style="color: #cea63f" ng-bind="ctrl.qualSize"></span>条人员信息</div>
    </div>
    <table cellspacing="0" style="text-align: center;width:100%;margin-bottom: 200px;border: none">
        <tr class="bdd_per_tr_a" style="width:80%;margin: 0 auto">
            <th style="text-align: center;width: 20%;">资质名称</th>
            <th style="text-align: center;width: 20%;">资质编号</th>
            <th style="text-align: center;width: 20%;">有效期</th>
            <th style="text-align: center;width: 20%;">发证机关</th>
        </tr>
        <tr style="color:#4d3a3a;font-size: 16px" ng-repeat="item in ctrl.qualList">
            <td ng-bind="item.qualName"></td>
            <td ng-bind="item.certNo"></td>
            <td ng-bind="item.validDate"></td>
            <td ng-bind="item.certOrg"></td>
        </tr>
    </table>
</div>

<!--人员信息-->
<div class="bdd_Personl_talbe" ng-if="ctrl.showType==4">
    <!--<div infinite-scroll='ctrl.nextPage()' infinite-scroll-distance='1'>

    </div>-->
    <div class="bdd_Personl_talbe_header">
        <div class="bdd_Personl_table_header_list">
            <span style="color: #cea63f" ng-click="ctrl.setPage(1,'')">全部</span>
        </div>
        <div class="bdd_Personl_table_header_title" ng-repeat="cate in ctrl.categoryList"  ng-click="ctrl.setPage(1,cate.category)">
            {{cate.category}}({{cate.num}})
        </div>
        <div class="bdd_Personl_table_header_right ">共有<span style="color: #cea63f;" ng-bind="ctrl.personSize"></span>条人员信息</div>
    </div>
    <table cellspacing="0" style="text-align: center;width:100%;margin-bottom: 200px;border: none">
        <tr class="bdd_per_tr_a" style="width:80%;margin: 0 auto">
            <th style="text-align: center;width: 20%;">姓名</th>
            <th style="text-align: center;width: 20%;">注册类别</th>
            <th style="text-align: center;width: 20%;">注册证书编号</th>
            <th style="text-align: center;width: 20%;">专业</th>
            <th style="text-align: center;width: 20%;">有效期</th>
        </tr>
        <tr style="color:#4d3a3a;font-size: 16px" ng-repeat="person in ctrl.personList">
            <td ng-bind="person.name"></td>
            <td ng-bind="person.category"></td>
            <td ng-bind="person.certNo"></td>
            <td ng-bind="person.major"></td>
            <td ng-bind="person.validDate"></td>
        </tr>


    </table>

</div>

<div class="bdd_footer_left">
    <div class="bdd_footer_news">
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo" src="../../../vendor/images/logo.png"
                                                         alt=""/></a></div>
        <div class="bdd_footer_content  bdd_footer_side"><a href="#">关于我们</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">加入我们</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">商务合作</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">新手指南</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">网站声明</a></div>
        <div class="bdd_footer_content bdd_footer_aido"><a href="#"><img class="bdd_footer_logo"
                                                                         src="../../../vendor/images/bottom_icon_andriod.png"
                                                                         alt=""/></a></div>
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo"
                                                         src="../../../vendor/images/bottom_icon_ios.png" alt=""/></a>
        </div>
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo"
                                                         src="../../../vendor/images/bottom_icon_wechat.png"
                                                         alt=""/></a></div>
    </div>
</div>
