<!DOCTYPE html>
<html lang="en" ng-app="WEBAPP">
<head>
    <meta charset="UTF-8">
    <title>标大大</title>
    <!--移动端设置viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../vendor/normalize.css/normalize.css">
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="../vendor/angular/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">-->
    <link rel="stylesheet" href="./app/index/index.css">
    <link rel="stylesheet" href="../vendor/normalize.css/calendar.css"/>
    <link rel="stylesheet" href="../vendor/normalize.css/base.css">
    <link rel="stylesheet" href="../vendor/normalize.css/bdd_letter.css">
    <link rel="stylesheet" href="../vendor/normalize.css/bdd_scerrn.css">
    <link rel="stylesheet" href="../vendor/normalize.css/bdd_Business.css">
    <link rel="stylesheet" href="../vendor/normalize.css/compang_page.css">
    <link rel="stylesheet" href="../vendor/normalize.css/use.css">
    <link rel="stylesheet" href="../vendor/normalize.css/feedback_yi.css">
    <link rel="stylesheet" href="../vendor/normalize.css/financial_jin.css">
    <link rel="stylesheet" href="../vendor/normalize.css/focus_zhu.css">
    <link rel="stylesheet" href="../vendor/normalize.css/notification_xiao.css">
    <link rel="stylesheet" href="../vendor/normalize.css/profile_ge.css">
    <link rel="stylesheet" href="../vendor/normalize.css/bdd_register.css">
    <link rel="stylesheet" href="../vendor/normalize.css/messagea_zhi.css">
    <link rel="stylesheet" href="../vendor/normalize.css/bdd_tenter_page.css">
    <link rel="stylesheet" href="../vendor/normalize.css/joinus.css">
    <link rel="stylesheet" href="../vendor/normalize.css/prep.css">
    <link rel="stylesheet" href="../vendor/normalize.css/busin.css">
    <link rel="stylesheet" href="../vendor/normalize.css/bdd-home.css">
    <link rel="stylesheet" href="../vendor/normalize.css/bdd-footer.css">

    <link rel="stylesheet" href="../vendor/normalize.css/index2.css">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <style type="text/css">
        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }
        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }
        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }
        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }
        .dropdown-submenu.pull-left {
            float: none;
        }
        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
        .container-fluid{
            padding: 0 0;
            margin: 0 auto;
        }

    </style>
    <title>webapp</title>
</head>

<body  class="container-fluid" ng-controller="IndexCtrl as ctrl">



    <nav class="bdd-nav">
        <div class="bdd-nav-div bdd-nav-div-a">
            <div class="bdd-img-div">
                <div class="bdd-img-one"><img class="bdd-img" src="../vendor/images/logo.png" alt=""/></div>
            </div>
            <div class="bdd-nav-title"><a style="{{ctrl.menu=='home'?'color:white':''}}" ng-click="ctrl.selectMenu('home')" ui-sref="home">首页</a></div>
            <div class="bdd-nav-title"><a style="{{ctrl.menu=='tender'?'color:white':''}}" ng-click="ctrl.selectMenu('tender')" ui-sref="Tender">标讯</a></div>
            <div class="bdd-nav-title"><a style="{{ctrl.menu=='companyTop'?'color:white':''}}" ng-click="ctrl.selectMenu('companyTop')" ui-sref="CompanyTop">企信</a></div>
            <div class="bdd-nav-title"><a style="{{ctrl.menu=='workmore'?'color:white':''}}" ng-click="ctrl.selectMenu('workmore')" ui-sref="workmore">动态</a></div>
            <div class="bdd-nav-title"><a style="{{ctrl.menu=='usercenter'?'color:white':''}}" ng-click="ctrl.selectMenu('usercenter')" ui-sref="Usercenter">应用</a></div>
            <div class="bdd-nav-tend-rel">
            <div id="divD" class="search-tender search-tender-select">
                <div class="txt-inline">
                    <select class="bdd_select_op" ng-change="ctrl.selectGoMenu(ctrl.goMenu)" ng-model="ctrl.goMenu">
                    <option value ="tender?type=99&keyword=">搜标讯</option>
                    <option value ="tender?type=0&keyword=">招标</option>
                    <option value ="tender?type=2&keyword=">中标</option>
                    <option value ="company?keyword=">企业</option>
                    <option value ="person?keyword=">人员</option>
                    <option value ="usercenter?keyword=">应用</option>
                </select></div>
                <div class="txt-inline">
                    <input class="bdd_black" type="text" placeholder="搜索关键字" ng-model="ctrl.keyword" ng-enter="ctrl.seachKeyword()"/>
                </div>
            </div>
            </div>
            <div  style="z-index: 1101;" class="bdd-nav-title-t bdd-nav-search">
            </div>
            <div class="bdd-nav-ser-div" >
                <a  class="txt-inline" id="btnFadein"  style="z-index: 1101;"><img
                        style="z-index: 1101;" src="../vendor/images/nav_icon_search.png" alt=""></a>
                <div class="txt-inline"><img src="../vendor/images/nav_icon_iphone.png" alt=""><span style="font-size: 14px">APP下载</span></div>
                <div class="txt-inline"  ng-if="ctrl.user == null">
                    <div style="font-size: 14px;" >
                        <a ui-sref="Login">登录</a>
                        <a ui-sref="Register">注册</a>
                    </div>
                </div>
                <div  class="txt-inline">
                    <div ng-if="ctrl.user != null">
                        <div ng-if="ctrl.user.imgurl != null && ctrl.user.imgurl != ''">
                            <img ng-src="{{ctrl.user.imgurl}}" width="60px" height="60px" alt="..." class="img-circle">
                        </div>
                        <div ng-if="ctrl.user.imgurl == null && ctrl.user.imgurl == ''">
                            <img src="/vendor/images/icon_head_default30px.png" width="60px" height="60px" alt="..." class="img-circle">
                        </div>
                        <select ng-change="ctrl.selectChange(ctrl.dateValue)" ng-model="ctrl.dateValue">
                            <option value ="default">个人中心</option>
                            <option value ="personInfo">个人资料</option>
                            <option value ="financial">金融服务</option>
                            <option value="feedback">反馈意见</option>
                            <option value="messages">消息通知</option>
                            <option value="myfollow">我的关注</option>
                            <option value="logout">退出</option>
                        </select>
                    </div>

                </div>
            </div>


        </div>
    </nav>

    <ui-view > </ui-view>

    <div class="bdd_footer_left">
        <div class="bdd_footer_news">
            <div class="bdd_footer_content">
                <a href="#"><img class="bdd_footer_logo" src="../../../vendor/images/logo.png" alt=""/></a>
            </div>
            <div class="bdd_footer_content bdd_footer_side"><a ui-sref="Perp">关于我们</a></div>
            <div class="bdd_footer_content  bdd_footer_megges"><a ui-sref="Joinus">加入我们</a></div>
            <div class="bdd_footer_content  bdd_footer_megges"><a href="#">商务合作</a></div>
            <div class="bdd_footer_content  bdd_footer_megges"><a href="#">新手指南</a></div>
            <div class="bdd_footer_content  bdd_footer_megges"><a href="#">网站声明</a></div>
            <div class="bdd_footer_content bdd_footer_aido"><a href="http://www.biaodaa.com/file/biaodaa.apk"><img class="bdd_footer_logo"
                                                                             src="../../../vendor/images/bottom_icon_andriod.png"
                                                                             alt=""/></a></div>
            <div class="bdd_footer_content"><a href="https://itunes.apple.com/cn/app/标大大/id1278802484?mt=8"><img class="bdd_footer_logo"
                                                             src="../../../vendor/images/bottom_icon_ios.png" alt=""/></a>
            </div>
            <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo"
                                                             src="../../../vendor/images/bottom_icon_wechat.png"
                                                             alt=""/></a></div>
        </div>
    </div>




    <script>
        window.rootSrc = '/src/';
    </script>
    <script src="../vendor/js/jquery.js"></script>
    <script src="../vendor/angular/angular.min.js"></script>
    <script src="../vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../vendor/angular/angular-touch/angular-touch.js"></script>
    <script src="../vendor/angular/oclazyload/ocLazyLoad.js"></script>
    <script src="../vendor/angular/ng-infinite-scroll.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="../vendor/angular/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../vendor/angular/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>


    <script src="./app/app.js"></script>
    <script src="./app/config.router.js"></script>
    <script src="./app/config.lazyload.js"></script>
    <script src="./app/utils.js"></script>
    <script src="index.js"></script>



</body>
</html>
