<link rel="stylesheet" href="../../../vendor/normalize.css/calendar.css"/>
<link rel="stylesheet" href="../../../vendor/normalize.css/base.css">
<link rel="stylesheet" href="../../../vendor/normalize.css/index2.css">
<link rel="stylesheet" href="../../../vendor/normalize.css/bdd-home.css">
<link rel="stylesheet" href="../../../vendor/normalize.css/bdd-footer.css">


<nav class="bdd-nav">
    <div class="bdd-nav-div">
        <div class="bdd-img-div">
            <div class="bdd-img-one"><img class="bdd-img" src="../../../vendor/images/logo.png" alt=""/></div>
        </div>


        <div class="bdd-nav-title"><a  style="color:white" ui-sref="Home">首页</a></div>
        <div class="bdd-nav-title"><a ui-sref="Tender">标讯</a></div>
        <div class="bdd-nav-title"><a ui-sref="Company">企信</a></div>
        <div class="bdd-nav-title"><a ui-sref="trend">动态</a></div>
        <div class="bdd-nav-title"><a ui-sref="society">应用</a></div>
        <div class="bdd-nav-title bdd-nav-title-hide" id="box_action_translateY" >
            <div class="search-status">
                <div class="search-filter">
                    <a href="javascript:;"><span class="tit">作品</span><i class="icon-down"></i></a>
                    <ul class="options">
                        <li><a href="javascript:;" data-rel="project">作品</a></li>
                        <li><a href="javascript:;" data-rel="experience">文章</a></li>
                        <li><a href="javascript:;" data-rel="source">源文件</a></li>
                        <li><a href="javascript:;" data-rel="designer">设计师</a></li>
                        <li><a href="javascript:;" data-rel="inspiration">灵感</a></li>
                        <li><a href="javascript:;" data-rel="talk">话题</a></li>
                        <li><a href="javascript:;" data-rel="activity">活动</a></li>
                        <li><a href="javascript:;" data-rel="veer">素材</a></li>
                    </ul>
                </div>
                <div class="search-select">
                    <input type="text" class="search-val" placeholder="请输入您要查找的内容" autocomplete="off" value=""
                           name="keywords" id="keywords">
                    <ul class="options" style="display: none;">
                        <li><a href="javascript:;">app</a></li>
                        <li><a href="javascript:;">logo</a></li>
                        <li><a href="javascript:;">icon</a></li>
                        <li><a href="javascript:;">AE</a></li>
                        <li><a href="javascript:;">作品集</a></li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="type" value="project" id="sType"/>
        </div>
        <div class="bdd-nav-title bdd-nav-search"><a href="#" onclick="showSearch()"><img src="../../../vendor/images/nav_icon_search.png" alt=""></a></div>
        <div class="bdd-nav-title bdd-nav-right">APP下载</div>
        <div class="bdd-nav-title bdd-nav-right">
            <div ng-if="$ctrl.user == null">
                <a ui-sref="Login">登录</a>
                <a ui-sref="Register">注册</a>
            </div>
            <div ng-if="$ctrl.user != null && $ctrl.user.username != ''">
                <label>{{$ctrl.user.username}}</label>
                <span class="bdd_font_span" ng-click="$ctrl.logout()">退出</span>
                <a href="">个人中心</a>
            </div>
        </div>
    </div>
</nav>
<div class="jd_layout">
    <!--轮播图-->
    <div class="jd_banner">
        <!--图片-->
        <ul class="jd_bannerImg clearfix">
            <li>
                <a ng-click="$ctrl.cancelAreaB()" href="javascript:;">
                    <img src="../../../vendor/images/banner_1.png" alt="">
                </a>
            </li>
        </ul>
        <!--点标记-->
        <ul class="jd_bannerIndicator">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>


    </div>
    <!--导航块-->
    <div class="jd_nav">
        <ul class="clearfix">
            <li>
                <a href="javascript:;">
                    <div class="bdd_notice_title_l">4000<span class="bdd_notice_title_r">条</span></div>
                    <p class="bdd_notice">进30天收入公告</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="bdd_notice_title_l">4000<span class="bdd_notice_title_r">条</span></div>
                    <p class="bdd_notice">信息来自企业网站</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="bdd_notice_title_l">4000<span class="bdd_notice_title_r">条</span></div>
                    <p class="bdd_notice">信息来自政府网站</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="bdd_notice_title_l">4000<span class="bdd_notice_title_r">条</span></div>
                    <p class="bdd_notice">招投标每天收录</p>
                </a>
            </li>
        </ul>
    </div>
    <!--中标公告-->
    <div class="bdd_win">
        <div class="bdd_win_left">
            <div class="bdd_win_header">
                <div class="bdd_win_header_left">中标公告</div>
                <div class="bdd_icon"></div>
                <div class="bdd_header_lit  bdd_header_color"  ng-click="$ctrl.choiceType(2,'')" >全部</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(2,'0')" >施工</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(2,'2')" >监理</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(2,'3')" >采购</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(2,'1')" >设计</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(2,'4')" >勘察</div>
                <div class="bdd_win_header_right">更多&nbsp;&nbsp;></div>
            </div>
            <div class="bdd_win_conter" style="margin-top: 0px" ng-repeat="notice in $ctrl.zhongbiaoList">
                <div class="bdd_text_z"><a href="#/winbding/{{notice.id}}"><span ng-bind="notice.title"></span></a></div>
                <div class="bdd_text_y" >中标企业：<span>{{notice.oneName ? notice.oneName:'详见原文'}}</span></div>
                <div class="bdd_text_p" >项目金额：<span>{{notice.projSum ? notice.projSum+'万元':'详见原文'}}</span></div>
                <div class="bdd_text_invite"><span ng-bind="notice.projectType"></span></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="bdd_text_invite bdd_text_pading"><span ng-bind="notice.noticeType"></span></div>
                <div class="bdd_text_riqi"><span ng-bind="notice.opendate"></span></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>

            <div class="bdd_win_header">
                <div class="bdd_win_header_left">招标公告</div>
                <div class="bdd_icon"></div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(0,'')">全部</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(0,'0')" >施工</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(0,'2')" >监理</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(0,'3')" >采购</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(0,'1')" >设计</div>
                <div class="bdd_header_lit" ng-click="$ctrl.choiceType(0,'4')" >勘察</div>

                <div class="bdd_win_header_right">更多&nbsp;&nbsp;></div>
            </div>

            <div class="bdd_win_conter" style="margin-top: 0px"  ng-repeat="zhaobiao in $ctrl.zhaobiaoList">
                <div class="bdd_text_z" > <a href="#/tenderDetail/{{zhaobiao.id}}"><span ng-bind="zhaobiao.title"></span></a></div>
                <div class="bdd_text_y" >资质要求：<span>{{zhaobiao.certificate ? zhaobiao.certificate:'详见原文'}}</span></div>
                <div class="bdd_text_p" >评标办法：<span>{{zhaobiao.pbMode ? zhaobiao.pbMode:'详见原文'}}</span></div>
                <div class="bdd_text_invite"><span ng-bind="zhaobiao.projectType"></span></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="bdd_text_invite bdd_text_pading"><span ng-bind="zhaobiao.noticeType"></span></div>
                <div class="bdd_text_riqi"><span ng-bind="zhaobiao.opendate"></span></div>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>

            <!--<div class="bdd_win_header">企业信息</div>-->
            <!--<div class="bdd_inc">-->
            <!--<div class="bdd_inc_list_o">-->
            <!--<div class="bdd_inc_r">湖南耀邦建设有限公司</div>-->
            <!--<div class="bdd_inc_c">历史中标数据：100</div>-->
            <!--<div class="bdd_inc_l">擅长领域：建筑工程</div>-->
            <!--<div class="bdd_inc_l">历史中标最低金额：1000万</div>-->
            <!--</div>-->
            <!--<div class="bdd_inc_list_t">-->
            <!--<div class="bdd_inc_r">湖南耀邦建设有限公司</div>-->
            <!--<div class="bdd_inc_c">历史中标数据：100</div>-->
            <!--<div class="bdd_inc_l">擅长领域：建筑工程</div>-->
            <!--<div class="bdd_inc_l">历史中标最低金额：1000万</div>-->
            <!--</div>-->
            <!--<div class="bdd_inc_list_f">-->
            <!--<div class="bdd_inc_r">湖南耀邦建设有限公司</div>-->
            <!--<div class="bdd_inc_c">历史中标数据：100</div>-->
            <!--<div class="bdd_inc_l">擅长领域：建筑工程</div>-->
            <!--<div class="bdd_inc_l">历史中标最低金额：1000万</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="bdd_win_right">
        <div class="bdd_data_header">
            <div>
                <div id="today-txt"></div>
            </div>
        </div>
        <div class="calendar bdd_data_conter" id="calendar" style="display: block;"></div>


        <div class="bdd_infor">
            <div class="bdd_infor_ul">
                <div class="bdd_infor_dv"></div>
                <div class="bdd_infor_title">最新资讯</div>
                <div class="bdd_infor_rihgt">更多></div>
                <div class="bdd_infor_mation_border">
                    <div class="bdd_infor_mation" ng-repeat="info in $ctrl.tradeList">
                        <div class="bdd_infor_maleft" ><img src="../../../vendor/images/dt_icon_defa1_60px.png" /></div>
                        <div class="bdd_infor_maright">
                            <div class="bdd_infor_maright_title"><span ng-bind="info.title" ></span></div>
                            <div class="bdd_infor_maright_news"><a href="{{info.url}}"><span ng-bind="info.contentDescribe" ></span></a></div>
                            <div class="bdd_infor_maright_new"><span ng-bind="info.time" ></span></div>
                        </div>
                    </div>

                    <div class="bdd_infor_mation" ng-repeat="info in $ctrl.platformList">
                        <div class="bdd_infor_maleft"><img src="../../../vendor/images/dt_icon_defa2_60px.png" /></div>
                        <div class="bdd_infor_maright">
                            <div class="bdd_infor_maright_title"><span ng-bind="info.title" ></span></div>
                            <div class="bdd_infor_maright_news"><a href="{{info.url}}"><span ng-bind="info.contentDescribe" ></span></a></div>
                            <div class="bdd_infor_maright_new"><span ng-bind="info.time" ></span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="bdd_use">
            <div class="bdd_infor_ul">
                <div class="bdd_infor_dv"></div>
                <div class="bdd_infor_title">常用应用</div>
                <div class="bdd_infor_rihgt">更多></div>
                <div class="bdd_infor_bid">
                    <div class="bdd_bid_p">评标计算</div>
                </div>
                <div class="bdd_infor_bid">
                    <div class="bdd_bid_p bdd_bid_w">四库一平台</div>
                </div>
                <div class="bdd_infor_bid">
                    <div class="bdd_bid_p bdd_bid_w">建筑施工特许证查询</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="bdd_content">
    <div class="bdd_content_left"><img class="bdd_content_left_logo" src="../../../vendor/images/homepage_icon_gou.png" alt=""><span>权威数据源</span>
    </div>
    <div class="bdd_content_left"><img class="bdd_content_left_logo" src="../../../vendor/images/homepage_icon_gou.png" alt=""><span>海量且精准</span>
    </div>
    <div class="bdd_content_left"><img class="bdd_content_left_logo" src="../../../vendor/images/homepage_icon_gou.png" alt=""><span>智能且及时</span>
    </div>
</div>

<div class="bdd_footer_left">
    <div class="bdd_footer_news">
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo" src="../../../vendor/images/logo.png" alt=""/></a>
        </div>
        <div class="bdd_footer_content bdd_footer_side"><a href="#">关于我们</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">加入我们</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">商务合作</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">新手指南</a></div>
        <div class="bdd_footer_content  bdd_footer_megges"><a href="#">网站声明</a></div>
        <div class="bdd_footer_content bdd_footer_aido"><a href="#"><img class="bdd_footer_logo"
                                                                         src="../../../vendor/images/bottom_icon_andriod.png" alt=""/></a>
        </div>
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo" src="../../../vendor/images/bottom_icon_ios.png"
                                                         alt=""/></a></div>
        <div class="bdd_footer_content"><a href="#"><img class="bdd_footer_logo" src="../../../vendor/images/bottom_icon_wechat.png"
                                                         alt=""/></a></div>
    </div>
</div>