
<style>

    .table-condensed>tbody>tr>.today{
       color:white;
        background-color:#65b478;
        border-radius: 100px;
}

    .bdd_win_a_b{
        text-decoration: none;
        display: block;
    }
    .bdd_win_a_b:hover{
        background-color: #cccccc;
    }
    .switch{
        text-align: center;
    }
    .bdd_win_conter:hover{
        box-shadow: 0px 0px 8px #d8d8d8;
    }
   .bdd_use_right_a:hover{
       box-shadow: 0px 0px 8px #d8d8d8;
   }
    .bdd_back_yellow{
       color: #cea63f;
    }


</style>
<div class="jd_layout">
    <!--轮播图-->
    <div class="jd_banner">
        <div class="all" id='box'>
            <div class="screen">
                <ul>
                    <!--<li ng-repeat="item in $ctrl.imageArr"><a><img src="{{item.imagesrc}}" width="1200" height="500"/></a></li>-->
                </ul>
                <ol style="display: none"><!--<li ng-repeat="item in $ctrl.imageArr">{{$index+1}}--></li></ol>
            </div>
            <div id="arr"><span  id="left">&lt;</span><span id="right">&gt;</span></div>
        </div>
    </div>
    <!--导航块-->
    <div class="jd_nav">
        <ul class="clearfix">
            <li style="text-decoration: none;">
                <a style="text-decoration: none;">
                    <div class="bdd_notice_title_l">100000+<span class="bdd_notice_title_r">条</span></div>
                    <p class="bdd_notice">近30天收录公告</p>
                </a>
            </li>
            <li style="text-decoration: none;">
                <a href="javascript:;" style="text-decoration: none;">
                    <div class="bdd_notice_title_l">100+<span class="bdd_notice_title_r">个</span></div>
                    <p class="bdd_notice">信息来自企业网站</p>
                </a>
            </li>
            <li style="text-decoration: none;">
                <a href="javascript:;" style="text-decoration: none;">
                    <div class="bdd_notice_title_l">700+<span class="bdd_notice_title_r">个</span></div>
                    <p class="bdd_notice">信息来自政府网站</p>
                </a>
            </li>
            <li style="text-decoration: none;">
                <a href="javascript:;" style="text-decoration: none;">
                    <div class="bdd_notice_title_l">3000+<span class="bdd_notice_title_r">条</span></div>
                    <p class="bdd_notice">招投标每天收录</p>
                </a>
            </li>
        </ul>
    </div>
    <!--招标公告-->
    <div class="bdd_win">
        <div class="bdd_win_left">
            <div class="bdd_win_header">
                <div class="bdd_win_header_left">招标公告</div>
                <div class="bdd_icon"></div>
                <div class="bdd_header_lit  bdd_header_color {{$ctrl.showItemType==''?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(0,'')">全部</div>
                <div class="bdd_header_lit bdd_header_color {{$ctrl.showItemType=='0'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(0,'0')">施工</div>
                <div class="bdd_header_lit bdd_header_color {{$ctrl.showItemType=='2'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(0,'2')">监理</div>
                <div class="bdd_header_lit bdd_header_color {{$ctrl.showItemType=='3'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(0,'3')">采购</div>
                <div class="bdd_header_lit bdd_header_color {{$ctrl.showItemType=='1'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(0,'1')">设计</div>
                <div class="bdd_header_lit bdd_header_color {{$ctrl.showItemType=='4'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(0,'4')">勘察</div>
                <div class="bdd_header_lit bdd_header_color {{$ctrl.showItemType=='5'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(0,'5')">其他</div>
                <div class="bdd_win_header_right bdd_win_a">
                    <a class="bdd_render_b" href="#/tender?type=0">更多&nbsp;</a>
                    <img src="../../../vendor/images/icon_arrow_right.png" alt="">
                </div>
            </div>

            <div class="bdd_win_conter {{$ctrl.isMourseIn?'bdd_back_gray':''}}" style="margin-top: 10px;cursor: pointer;" ng-mouseenter="$ctrl.isMourseIn=true" ng-mouseleave="$ctrl.isMourseIn=false" ng-repeat="zhaobiao in $ctrl.zhaobiaoList" ng-click="$ctrl.clickHref('{{zhaobiao.id}}')">
                <a class="bdd_win_a_b">
                    <div>
                <div class="bdd_text_z"><a href="#/tenderDetail/{{zhaobiao.id}}"><span
                        ng-bind="zhaobiao.title|limitTo:48"></span></a></div>
                <div class="bdd_text_y">资质要求：<span>{{zhaobiao.certificate ? zhaobiao.certificate:'详见原文'}}</span></div>
                <div class="bdd_text_p">评标办法：<span>{{zhaobiao.pbMode ? zhaobiao.pbMode:'详见原文'}}</span></div>
                <div class="bdd_text_invite"><span ng-bind="zhaobiao.projectType"></span></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="bdd_text_invite bdd_text_pading"><span ng-bind="zhaobiao.noticeType"></span></div>
                <div class="bdd_text_riqi"><span ng-bind="zhaobiao.opendate"></span></div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </a>
            </div>

            <!--中标公告-->
            <div style="margin-bottom: 140px;">
            <div class="bdd_win_header">
                <div class="bdd_win_header_left">中标公告</div>
                <div class="bdd_icon"></div>
                <div class="bdd_header_lit  bdd_header_color  {{$ctrl.showItemTypeZ==''?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(2,'')">全部</div>
                <div class="bdd_header_lit bdd_header_color  {{$ctrl.showItemTypeZ=='0'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(2,'0')">施工</div>
                <div class="bdd_header_lit bdd_header_color  {{$ctrl.showItemTypeZ=='2'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(2,'2')">监理</div>
                <div class="bdd_header_lit bdd_header_color  {{$ctrl.showItemTypeZ=='3'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(2,'3')">采购</div>
                <div class="bdd_header_lit bdd_header_color  {{$ctrl.showItemTypeZ=='1'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(2,'1')">设计</div>
                <div class="bdd_header_lit bdd_header_color  {{$ctrl.showItemTypeZ=='4'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(2,'4')">勘察</div>
                <div class="bdd_header_lit bdd_header_color  {{$ctrl.showItemTypeZ=='5'?'bdd_back_yellow':''}}" ng-click="$ctrl.choiceType(2,'5')">其他</div>
                <div class="bdd_win_header_right">
                    <a class="bdd_render_b" href="#/tender?type=2">更多&nbsp;</a>
                    <img src="../../../vendor/images/icon_arrow_right.png" alt="">
                </div>
            </div>
            <div class="bdd_win_conter" style="margin-top:10px;cursor: pointer" ng-repeat="notice in $ctrl.zhongbiaoList" ng-click="$ctrl.clickHrefWin('{{notice.id}}')">
                <div class="bdd_text_z"><a style="text-decoration: none;" href="#/winbding/{{notice.id}}"><span
                        ng-bind="notice.title"></span></a></div>
                <div class="bdd_text_y">中标企业：<span>{{notice.oneName ? notice.oneName:'详见原文'}}</span></div>
                <div class="bdd_text_p">项目金额：<span>{{notice.projSum ? notice.projSum+'万元':'详见原文'}}</span></div>
                <div class="bdd_text_invite"><span ng-bind="notice.projectType"></span></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="bdd_text_invite bdd_text_pading"><span ng-bind="notice.noticeType"></span></div>
                <div class="bdd_text_riqi"><span ng-bind="notice.opendate"></span></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="bdd_win_right">
        <div class="bdd_data_header">
            <div>
                <div id="today-txt"></div>
            </div>
        </div>
        <div class="calendar bdd_data_conter" id="calendar" style="display: block;">
            <div class="sidenav-header" id="datetimediv">

                <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd"
                     data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    </select>
                </div>
            </div>
            <div class="bdd_infor_a">
                <div class="bdd_infor_tittle"></div>
                <div class="bdd_infor_a_left"><span class="bdd_infor_dv"></span>最新资讯</div>
                <div style="font-size: 14px;color:#ccbebe;"  class="bdd_infor_a_right">
                    <a class="bdd_render_b" href="#/workmore">更多&nbsp;></a>
                </div>
            </div>

            <!--<div class="bdd_infor_dv"></div>-->
            <!--<div class="bdd_infor_title">最新资讯</div>-->
            <!--<div class="bdd_infor_rihgt">更多></div>-->
            <div style="overflow: hidden;background-color: white;margin-top:15px;margin-bottom: 60px;padding-bottom: 20px;width: 290px;margin-left: -10px;">
                <div class="bdd_infor_mation_border">
                    <div class="bdd_infor_mation" ng-repeat="info in $ctrl.tradeList" ng-click="$ctrl.clickHrefNotise('{{info.url}}')" style="cursor: pointer">
                        <div class="bdd_infor_maleft"><img src="../../../vendor/images/dt_icon_defa1_60px.png"/></div>
                        <div class="bdd_infor_maright">
                            <div class="bdd_infor_maright_title"><span ng-bind="info.title |limitTo:16"></span></div>
                            <div class="bdd_infor_maright_news"><a class="bdd_render_b" href="{{info.url}}"><span
                                    ng-bind="info.content | limitTo:10"></span></a></div>
                            <div class="bdd_infor_maright_new"><span ng-bind="info.time"></span></div>
                        </div>
                    </div>
                </div>
                <div class="bdd_infor_mation_border">
                    <div class="bdd_infor_mation" ng-repeat="info in $ctrl.platformList" ng-click="$ctrl.clickHrefNotise('{{info.url}}')" style="cursor: pointer">
                        <div class="bdd_infor_maleft"><img src="../../../vendor/images/dt_icon_defa2_60px.png"/></div>
                        <div class="bdd_infor_maright">
                            <div class="bdd_infor_maright_title"><span ng-bind="info.title | limitTo:16"></span></div>
                            <div class="bdd_infor_maright_news"><a href="{{info.url}}"><span
                                    ng-bind="info.content | limitTo:14"></span></a></div>
                            <div class="bdd_infor_maright_new"><span ng-bind="info.time"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 30px;" class="bdd_infor_a">
                <div class="bdd_infor_tittle"></div>
                <div class="bdd_infor_a_left"><span class="bdd_infor_dv"></span>常用应用</div>
                <div style="font-size: 14px;color:#ccbebe;" class="bdd_infor_a_right">
                    <a class="bdd_render_b" href="#/usercenter">更多&nbsp;></a>
                </div>
            </div>
            <!--常用-->
                <div  style="margin-top:-18px;text-align: center" ng-repeat="commonLink in $ctrl.commonLinkList | limitTo: 3">
                    <div style="margin-top:25px;text-align: center" class="bdd_use_right_a" >
                        <a  href="{{commonLink.customUrl}}">{{commonLink.customName}}</a>
                    </div>
                </div>

                <!--<div style="margin-top:-15px;" class="bdd_use_right_a">-->
                   <!--<a  target="_blank" href="http://qyryjg.hunanjz.com/public/index.aspx">四库一平台</a>-->
                <!--</div>-->
                <!--<div class="bdd_use_right_a">-->
                    <!--<a  target="_blank" href="http://www.mohurd.gov.cn/wbdt/dwzzcx/index.html">住建部企业资质查询</a>-->
                <!--</div>-->
                <!--<div class="bdd_use_right_a">-->
                    <!--<a target="_blank" href="http://www.mohurd.gov.cn/wbdt/ryzgcx/index.html">住建部人员资质查询</a>-->
                <!--</div>-->
        </div>
    </div>



<script>
    var d = new Date();
    d.setTime(d.getTime() - 24 * 60 * 60 * 1000);

    initDatetimepicker();

    function initDatetimepicker() {

//初始化日期选择控件
        $('.form_date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            pickerPosition: "top-left"
        });
    }
</script>
